<div class="layer">
<div class="profile-user-info profile-user-info-striped wordbreak" >
	<input type="hidden" value="${order.subOrderId}" id="checkBox_id" name="id"/>
	<div class="profile-info-row">
		<div class="red">
			订单${order.subOrderId} 应付金额 ￥${order.realPrice}
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-value">
			@if(order.payConfirm==0){
				<input type="radio" value="1" class="checkBox_payStatus" name="payStatus" id="chk1">
			@}else{
				<input type="radio" value="1" class="checkBox_payStatus" checked="checked" name="payStatus" id="chk1">
			@}
			<label for="chk1">已到款</label>
		</div>
		<div class="profile-info-value" style="width: 100px">
			@if(order.payConfirm==0){
				<input type="radio" value="0" class="checkBox_payStatus" checked="checked" name="payStatus" id="chk0">
			@}else{
				<input type="radio" value="0" class="checkBox_payStatus" name="payStatus" id="chk0">
			@}
			<label for="chk0">未到款</label>
			
		</div>
	</div>
	<div class="width-100 clearfix" tag-save-btn style="bottom: 0px;left: 0px;position:absolute;">
	<span class="btn btn-primary btn-sm bigger-110 width-100  pull-left" id="submit">
		<i class="ace-icon fa fa-floppy-o align-top bigger-125"></i>确定
	</span>
</div>
<script type="text/javascript">

$(function(){
	
	$("#submit").click(function(){
		//获取id值
	var id = $("#checkBox_id").val();
		//获取审核状态值
	var payStatus = $("input[name='payStatus']:checked").val();
	if(id==""||payStatus==""){
		layer.msg('系统错误', 3, 1);
	}else{		
		$.ajax({
			dataType:'json',
			type:'POST',
			url:'${ctxPath}/group/confirmPay?id='+id+"&payStatus="+payStatus,
			contentType: 'application/json',
			async: true,
			success:function(data){
				var $form = $("#search-form");
				var pageNo = 1;
				var pageNoInput = $form.find('input[name="pageNum"]');
				if(pageNoInput.size() != 0){
					pageNo = pageNoInput.val();
				}
				
				//刷新页面
				paging('search-form',pageNo);
				layer.closeAll();
			}
		});
	}
		
		
	});
})

</script>
</div>
</div>