<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.wode.tongji.mapper.SmsTemplateMapper">

    <resultMap id="SmsTemplate" type="com.wode.tongji.model.SmsTemplate">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="msg" column="msg"/>
        <result property="code" column="code"/>
        <result property="param1" column="param1"/>
        <result property="param2" column="param2"/>
        <result property="param3" column="param3"/>
        <result property="param4" column="param4"/>
        <result property="param5" column="param5"/>
        <result property="param6" column="param6"/>
        <result property="autoSend" column="auto_send"/>
        <result property="signature" column="signature"/>
        <result property="stopFlg" column="stop_flg"/>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        <![CDATA[
        id,title,msg,code,param1,param2,param3,param4,param5,param6,auto_send,signature,stop_flg
        ]]>
    </sql>

    <!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO t_sms_template (
            id ,
            title ,
            msg ,
            code ,
            param1 ,
            param2 ,
            param3 ,
            param4 ,
            param5 ,
            param6
        ) VALUES (
            #{id} ,
            #{title} ,
            #{msg} ,
            #{code} ,
            #{param1} ,
            #{param2} ,
            #{param3} ,
            #{param4} ,
            #{param5} ,
            #{param6}
        )
    ]]>
    </insert>

    <update id="update" >
    <![CDATA[
        UPDATE t_sms_template SET            
            title = #{title} ,
            msg = #{msg} ,
            code = #{code} ,
            param1 = #{param1} ,
            param2 = #{param2} ,
            param3 = #{param3} ,
            param4 = #{param4} ,
            param5 = #{param5} ,
            param6 = #{param6} 
        WHERE 
            id = #{id} 
    ]]>
    </update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM t_sms_template WHERE
        id = #{id} 
    ]]>
    </delete>
    <select id="getById" resultMap="SmsTemplate">
        SELECT <include refid="columns" />
        <![CDATA[
            FROM t_sms_template 
            WHERE 
                id = #{id} 
        ]]>
    </select>

    <select id="selectByModel" resultMap="SmsTemplate">
        SELECT <include refid="columns" /> FROM t_sms_template 
        <include refid="find_where"/>
    </select>

    <sql id="find_where">
        <!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
        <where>
           <if test="@Ognl@isNotEmpty(id)">
                AND id = #{id}
            </if>
           <if test="@Ognl@isNotEmpty(title)">
                AND title = #{title}
            </if>
           <if test="@Ognl@isNotEmpty(msg)">
                AND msg = #{msg}
            </if>
           <if test="@Ognl@isNotEmpty(code)">
                AND code = #{code}
            </if>
           <if test="@Ognl@isNotEmpty(param1)">
                AND param1 = #{param1}
            </if>
           <if test="@Ognl@isNotEmpty(param2)">
                AND param2 = #{param2}
            </if>
           <if test="@Ognl@isNotEmpty(param3)">
                AND param3 = #{param3}
            </if>
           <if test="@Ognl@isNotEmpty(param4)">
                AND param4 = #{param4}
            </if>
           <if test="@Ognl@isNotEmpty(param5)">
                AND param5 = #{param5}
            </if>
           <if test="@Ognl@isNotEmpty(param6)">
                AND param6 = #{param6}
            </if>
           <if test="@Ognl@isNotEmpty(autoSend)">
                AND auto_send = #{autoSend}
            </if>
           <if test="@Ognl@isNotEmpty(stopFlg)">
                AND stop_flg = #{stopFlg}
            </if>
        </where>
    </sql>

</mapper>
