<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wode.tongji.mapper.UserDayStatisticalMapper" >
  <resultMap id="BaseResultMap" type="com.wode.tongji.model.UserDayStatistical" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="day" property="day" jdbcType="DATE" />
    <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP" />
    <result column="active_number" property="activeNumber" jdbcType="BIGINT" />
    <result column="register_number" property="registerNumber" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, day,creat_time,active_number,register_number
  </sql>
  <!-- 根据日注量查询每月的注册信息 -->
  <select id="selectMonthRegisterNumber" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_user_day_statistical
    where day like CONCAT(#{time},'%')
  </select>
  <!-- 查询统计数据，根据日期查询 -->
  <select id="selectByTime" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from t_user_day_statistical
    where 
    <if test="startTime!=null&amp;&amp;endTime!=null">
	    day &gt;= #{startTime} and day &lt;= #{endTime}
    </if>
    <if test="startTime!=null&amp;&amp;endTime==null">
	    day like CONCAT(#{startTime},'%')
    </if>
  </select>
  
  <!-- 插入数据 -->
  <insert id="insertSelective" parameterType="com.wode.tongji.model.UserDayStatistical" >
    insert into t_user_day_statistical
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="day != null" >
        day,
      </if>
      <if test="creatTime != null" >
        creat_time,
      </if>
      <if test="activeNumber != null" >
        active_number,
      </if>
      <if test="registerNumber != null" >
        register_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="day != null" >
        #{day,jdbcType=DATE},
      </if>
      <if test="creatTime != null" >
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activeNumber != null" >
        #{activeNumber,jdbcType=BIGINT},
      </if>
      <if test="registerNumber != null" >
        #{registerNumber,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>