@var userOffice = office.getUserOfficeList(); //用户持有的机构
@var userRoles = role.getUserRoleList(); //用户角色
<div class="tab-content">
	<div id="order_home" class="tab-pane active clearfix">
		<#search>
			<form action="${ctxPath}/parameter/list" method="post" id="search-form" target="list-page" class="center clearfix">
				<div class="padding-trb-10 col-sm-12">
						<span class="btn  btn-primary btn-sm col-sm-6" onclick="$curmenu.trigger('click');">全部</span>
						<span class="btn btn-info btn-sm col-sm-6" id="search-btn">查询</span>
				</div>
			</form>
		</#search>
		<div class="space-6"></div>
		<div id="list-page"></div>
	</div>
</div>

<script>
	$("#role-select").chosen({width: "80%",search_contains: true});
	$("#role-choose").chosen({width: "100%",search_contains: true}); 
	$("#search-form").getPageList({'submitBtnId':'search-btn'});
</script>

