<div class="layer">
	<input type="hidden" id="parameterGroupId" value="${parameterGroupId}">
	<table id="parameterTable"
		class="table table-striped table-bordered table-hover nomargin-bottom">
		<thead>
			<tr>

				<th class="center">序号</th>
				<th class="center">名称</th>
				<th class="center">操作</th>
			</tr>
		<tbody>
			<tr>添加:<div class="hidden-sm hidden-xs action-buttons">
					<a id="addParameter" class="green" href="javascript:void(0);"> <i
						class="green ace-icon fa fa-plus bigger-120"></i>
					</a>
				</div>
			</tr>
			
			@if(isEmpty(paramList)){
			<tr class="attrValue_class">
				<input type="hidden" value=""/>
				<td class="center"></td>
				<td class="center">
					<input type="text" value=""	maxlength="50" style="width: 100%" />
				</td>
				<td class="center">
					<div class="hidden-sm hidden-xs action-buttons">
						<a class="green speValueEdit" href="javascript:void(0);"> <i
							class="ace-icon fa fa-pencil bigger-130"></i>
						</a> <a class="red speValueDel" href="javascript:void(0);"> <i
							class="ace-icon fa fa-trash-o bigger-130"></i>
						</a>
					</div>
				</td>
			</tr>
			@}else{
			@for(var attr in paramList){
			<tr class="attrValue_class">
				<input type="hidden" value="${attr.id!}"/>
				<td class="center">${attrLP.index!}</td>
				<td class="center"><input type="text" maxlength="50" value="${attr.name!}"
					style="width: 100%" disabled="disabled" /></td>
				<td class="center">
					<div class="hidden-sm hidden-xs action-buttons">
						<a class="green attrValueEdit" href="javascript:void(0);"> <i
							class="ace-icon fa fa-pencil bigger-130"></i>
						</a> <a class="red attrValueDel" href="javascript:void(0);"> <i
							class="ace-icon fa fa-trash-o bigger-130"></i>
						</a>
					</div>
				</td>
			</tr>
			@}
			@}

		</tbody>
	</table>
</div>
<div class="width-100 clearfix" tag-save-btn
	style="bottom: 0px; left: 0px; position: absolute;">
	<span id="speVal_submit" class="btn btn-primary btn-sm bigger-110 width-100  pull-left">
		<i class="ace-icon fa fa-floppy-o align-top bigger-125"></i> 确定
	</span>
</div>
<script type="text/javascript">

function parameterDel(data){
	$.ajax({

		type: "post",
		contentType:'application/json',
		data:JSON.stringify(data),
		url: "${ctxPath}/parameterGroup/parameter/del",
		dataType: "json",
		success: function(data, textStatus){
			//刷新页面
			location.reload();
		},
		error: function(){

		}
		})
}

function parameterSave(data,url){
	$.ajax({

		type : 'POST',   
        contentType:'application/json',
		data:JSON.stringify(data),
		url: url,
		dataType : 'json',
		success: function(data, textStatus){
			//刷新页面
			location.reload();
		},
		error: function(){

		}
		})
}

$(document).ready(function() {
	//修改输入框为编辑状态
	$(".attrValueEdit").on("click",function(){
		$(this).parents(".center").prev().children().removeAttr("disabled");
	});
	//删除	
	$(".attrValueDel").on("click",function(){
		alert(11)
		$(this).parents(".center").parents(".attrValue_class").attr("style","display: none;");
	});
	//提交信息
	$("#speVal_submit").click(function(){
		//所删除数据的id数组
		var delId = [];
		//添加数据的内容数组
		var addName = new Array();
		//修改的数据数组
		var update = new Array();
		var isClose = true;
		var attrValueClass = $(".attrValue_class");
		$.each(attrValueClass,function(i){
			//style = none表示该数据已被删除。
			//已被删除的数据
			if(attrValueClass.eq(i).attr("style")=="display: none;"){
				var id = attrValueClass.eq(i).find("*").eq(0).val();
				if(id!=""){
					delId.push(id);
				}
			//下面的数据没有被删除
			}else{
				var index_ = attrValueClass.eq(i).find("*").eq(1).html();
				//序号为空，表示该数据是新添加的
				if(index_==""){
					var name = attrValueClass.eq(i).find("*").eq(2).find("*").val();
					var parameterGroupId = $("#parameterGroupId").val();
					var obj = {};
					obj.parameterGroupId = parameterGroupId;
					obj.name = name;
					if(name.trim()){
						addName.push(obj);
					}else{
						isClose = false;
						alert("请输入名称");
					}
					
				//表示该数据之前就存在
				}else{
					//输入框禁用标示去除，标示进行修改
					if(attrValueClass.eq(i).find("*").eq(2).find("*").attr("disabled")!="disabled"){
						var id = attrValueClass.eq(i).find("*").eq(0).val();
						var name = attrValueClass.eq(i).find("*").eq(2).find("*").val();
						var obj = {};
						obj.id = id;
						obj.name = name;
						if(name.trim()){
							update.push(obj);
						}else{
							isClose = false;
							alert("请输入名称");
						}
					}
				}
				
			}
		});	
					if(delId.length > 0 && isClose){
						parameterDel(delId);
					}
					//更新
					if(update.length > 0 && isClose){
						parameterSave(update,"${ctxPath}/parameterGroup/parameter/doEdit");
					}
					if(addName.length > 0 && isClose){
						//添加
						parameterSave(addName,"${ctxPath}/parameterGroup/parameter/save");
					}
					
					if(delId.length < 1 && update.length<1 && addName.length < 1 && isClose){
						//关闭弹窗
						layer.closeAll();
					}
	});
	
	//添加
	$("#addParameter").click(function(){
		
		var html_string = "<tr class=\"attrValue_class\"><input type=\"hidden\"/><td class=\"center\"></td><td class=\"center\"><input type=\"text\"	maxlength=\"50\" value=\"\" style=\"width: 100%\"/></td><td class=\"center\"><div class=\"hidden-sm hidden-xs action-buttons\"><a class=\"green attrValueEdit\" href=\"javascript:void(0);\"> <i class=\"ace-icon fa fa-pencil bigger-130\"></i></a><a class=\"red attrValueDel\" href=\"javascript:void(0);\"> <i class=\"ace-icon fa fa-trash-o bigger-130\"></i></a></div></td></tr>";
		var attrValue = $(".attrValue_class").last();
		if(attrValue.attr("style")=="display: none;"){
			$(".attrValue_class").last().after(html_string);
		}else{ 
			//tr标签下的子项
			var tr_children = attrValue.children();
			//根据输入框中的信息和序号判断信息可用不可用       序号为空标示新添加的信息 . 序号不为空，但是输入框为空，标示修改信息. tr标签style值为none标示删除
			//输入框信息
			var input_value = tr_children.eq(2).find("*").val();
			//序号
			var index_ = tr_children.eq(0).html();
			if(input_value!=""){
				$(".attrValue_class").last().after(html_string);
			}else{
				if(index_!=""){
					$(".attrValue_class").last().after(html_string);
				}
			}
		}
		//删除	
		$(".attrValueDel").on("click",function(){
			$(this).parents(".center").parents(".attrValue_class").attr("style","display: none;");
		});
	});
	
});
</script>