<div class="widget-box widget-color-green2">
	<div class="widget-header clearfix">
		<h5 class="widget-title">配置</h5>
		<div class="widget-toolbar">
			<a href="#" data-action="fullscreen" class="orange2"> <i
				class="ace-icon fa fa-expand"></i>
			</a>
		</div>
		<div class="widget-toolbar no-border width-40" style="padding-top: 2px;">
			<form method="post" class="form-search" id="search-form" target="list-page"
				action="${ctxPath!}/productCategory/list">
				<div style="width:100px;float: right;margin-right: 40px;margin-top: -60px" onclick="exportExcel()">
					<span class="btn fa fa-file-excel-o" id="excel-btn">&nbsp;&nbsp;导出佣金比例</span>
				</div>
				<div class="input-group" style="line-height: 0px;">
					<span class="input-group-btn">
						<span  class=" btn  btn-success btn-sm"
							id="search-all-btn">
							 显示全部 
						</span> 
					</span>
					<input type="text" class="form-control search-query"
						name="name" placeholder="名称" id="search-input">
						<span class="input-group-btn">
						<span class="btn  btn-success btn-sm"
							id="search-btn">
							搜索 <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
						</span>
					</span>
				</div>
				<input type="hidden" name="rootId" />
				<input type="hidden" name="brotherOrderAll" />
			</form>
		</div>
	</div>

	<div class="widget-body">
		<div class="widget-main padding-8">
			<div class="row">
				<div class="col-sm-3">
					<div>
						<ul id="treeMenu" class="ztree"></ul>
					</div>
				</div>
				<div class="col-sm-9" id="list-page">
				</div>
			</div>
		</div>
	</div>
</div>
<#proCategoryTree editUrl="productCategory/edit/showlayer" delUrl="productCategory/delete" 
	addUrl="productCategory/add/showlayer" treeData="${tree}" 
	rootNodeName="商品分类" reloadUrl="true"/>

<script>

	function exportExcel() {
		var action,target;
		var thisform=document.getElementById('search-form');
		action=thisform.action;
		target=thisform.target;
		
		thisform.action="${ctxPath}/productCategory/exportExcelC";
		thisform.target="_blank";
		thisform.submit();
		
		thisform.action=action;
		thisform.target=target;
	}
</script>