<div >
			<div class="profile-info-row">
				<div class="pull-left"><span class="btn btn-info btn-sm " data-mode="page" data-title="提取推广代码"
							data-url="${ctxPath}/promotionCode/toCodeCount"
							data-data="{noUse:'${noUse!}'}" data-width="50%" data-height="50%" id="pull">提取推广码</span></div>
			</div>
			<div class="profile-info-row" style="text-align:left!important;">
				<div class="profile-info-name width-100" style="text-align:left!important;width:300px!important; ">推广代码库代码总数量 </div>
				<div class="profile-info-value">${all!}</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name" style="text-align:left!important;">推广代码库代码已提取数量</div>
				<div class="profile-info-value" style="text-align:left!important;">${used!}</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name" style="text-align:left!important;">推广代码库代码剩余数量</div>
				<div class="profile-info-value" style="text-align:left!important;">${noUse!}</div>
			</div>
</div>
