<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="CommissionRefundDetailMapper">

	<resultMap id="CommissionRefundDetail" type="com.wode.factory.model.CommissionRefundDetail">
        <result property="id" column="id"/>
        <result property="commissionRefundId" column="commissionRefundId"/>
        <result property="userId" column="user_id"/>
        <result property="orderId" column="order_id"/>
        <result property="paymentAmount" column="payment_amount"/>
        <result property="freight" column="freight"/>
        <result property="fuli" column="fuli"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="commissionTotal" column="commissionTotal"/>
        
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		id,commissionRefundId,user_id,order_id,payment_amount,freight,fuli,create_time,update_time,commissionTotal
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO t_commission_refund_detail (
        	id ,
        	commissionRefundId,
        	user_id ,
        	order_id ,
        	payment_amount ,
        	freight ,
        	fuli ,
        	create_time ,
        	update_time ,
        	commissionTotal
        ) VALUES (
        	#{id} ,
        	#{commissionRefundId},
        	#{userId} ,
        	#{orderId} ,
        	#{paymentAmount} ,
        	#{freight} ,
        	#{fuli} ,
        	#{createTime} ,
        	#{updateTime} ,
        	#{commissionTotal}
        )
    ]]>
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    
	<update id="update" >
    <![CDATA[
        UPDATE t_commission_refund_detail SET
        	commissionRefundId = #{commissionRefundId},
	        user_id = #{userId} ,
	        order_id = #{orderId} ,
	        payment_amount = #{paymentAmount} ,
	        freight = #{freight} ,
	        fuli = #{fuli} ,
	        create_time = #{createTime} ,
	        update_time = #{updateTime} ,
	        commissionTotal= #{commissionTotal}
        WHERE 
	        id = #{id} 
    ]]>
	</update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM t_commission_refund_detail WHERE
        id = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultMap="CommissionRefundDetail">
		SELECT <include refid="columns" />
	    <![CDATA[
		    FROM t_commission_refund_detail 
	        WHERE 
		        id = #{id} 
	    ]]>
	</select>
		
    <select id="findPage_count" resultType="long">
        SELECT count(*) FROM t_commission_refund_detail 
		<include refid="findPage_where"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findPage" resultMap="CommissionRefundDetail">
    	SELECT <include refid="columns" />
	    FROM t_commission_refund_detail 
		<include refid="findPage_where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
	<!-- 查询list分页 -->
    <select id="findlistPageCount" resultType="long">
        SELECT count(*) FROM t_commission_refund_detail 
		<include refid="findPage_where"/>   
    </select>
    <select id="findlistPage" resultMap="CommissionRefundDetail">
    	SELECT <include refid="columns" />
	    FROM t_commission_refund_detail 
		<include refid="findPage_where"/>
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns} desc
		</if>
    </select>
	<sql id="findPage_where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
	       <if test="@Ognl@isNotEmpty(id)">
				AND id = #{id}
			</if>
			<if test="@Ognl@isNotEmpty(commissionRefundId)">
				AND commissionRefundId = #{commissionRefundId}
			</if>
	       <if test="@Ognl@isNotEmpty(userId)">
				AND user_id = #{userId}
			</if>
	       <if test="@Ognl@isNotEmpty(orderId)">
				AND order_id = #{orderId}
			</if>
	       <if test="@Ognl@isNotEmpty(paymentAmount)">
				AND payment_amount = #{paymentAmount}
			</if>
	       <if test="@Ognl@isNotEmpty(freight)">
				AND freight = #{freight}
			</if>
	       <if test="@Ognl@isNotEmpty(fuli)">
				AND fuli = #{fuli}
			</if>
	       <if test="@Ognl@isNotEmpty(createTimeBegin)">
				AND create_time >= #{createTimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(createTimeEnd)">
				AND create_time &lt;= #{createTimeEnd}
		   </if>
	       <if test="@Ognl@isNotEmpty(updateTimeBegin)">
				AND update_time >= #{updateTimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(updateTimeEnd)">
				AND update_time &lt;= #{updateTimeEnd}
		   </if>
		</where>
	</sql>
	
</mapper>

