<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="PaymentMapper">

    <resultMap id="Payment" type="com.wode.factory.model.Payment">
        <result property="outTradeNo" column="out_trade_no"/>
        <result property="totalFee" column="totalFee"/>
        <result property="orderId" column="orderId"/>
        <result property="subOrderId" column="subOrderId"/>
        <result property="status" column="status"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
        <result property="tradeNo" column="trade_no"/>
        <result property="way" column="way"/>
        <result property="payType" column="pay_type"/>
        <result property="payConfirm" column="pay_confirm"/>
        <result property="payConfirmDate" column="pay_confirm_date"/>
        <result property="note" column="note"/>
        <result property="updUser" column="upd_user"/>
        <result property="exp1" column="exp1"/>
        <result property="appId" column="app_id"/>
        <result property="orderType" column="order_type"/>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        <![CDATA[
        out_trade_no,totalFee,orderId,subOrderId,status,createTime,updateTime,trade_no,way,pay_type,pay_confirm,pay_confirm_date,note,upd_user,exp1,app_id,order_type
        ]]>
    </sql>

    <!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO t_payment (
            out_trade_no ,
            totalFee ,
            orderId ,
            subOrderId ,
            status ,
            createTime ,
            updateTime ,
            trade_no ,
            way ,
            pay_type ,
            pay_confirm ,
            pay_confirm_date ,
            note ,
            upd_user ,
            exp1 ,
            app_id ,
            order_type
        ) VALUES (
            #{outTradeNo} ,
            #{totalFee} ,
            #{orderId} ,
            #{subOrderId} ,
            #{status} ,
            #{createTime} ,
            #{updateTime} ,
            #{tradeNo} ,
            #{way} ,
            #{payType} ,
            #{payConfirm} ,
            #{payConfirmDate} ,
            #{note} ,
            #{updUser} ,
            #{exp1} ,
            #{appId} ,
            #{orderType}
        )
    ]]>
    </insert>

    <update id="update" >
    <![CDATA[
        UPDATE t_payment SET
            totalFee = #{totalFee} ,
            orderId = #{orderId} ,
            subOrderId = #{subOrderId} ,
            status = #{status} ,
            createTime = #{createTime} ,
            updateTime = #{updateTime} ,
            trade_no = #{tradeNo} ,
            way = #{way} ,
            pay_type = #{payType} ,
            pay_confirm = #{payConfirm} ,
            pay_confirm_date = #{payConfirmDate} ,
            note = #{note} ,
            upd_user = #{updUser} ,
            exp1 = #{exp1} ,
            app_id = #{appId} ,
            order_type = #{orderType} 
        WHERE 
            out_trade_no = #{outTradeNo}
    ]]>
    </update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM t_payment WHERE
        out_trade_no = #{id} 
    ]]>
    </delete>
    <select id="getById" resultMap="Payment">
        SELECT <include refid="columns" />
        <![CDATA[
            FROM t_payment 
            WHERE 
                out_trade_no = #{id} 
        ]]>
    </select>

    <select id="selectByModel" resultMap="Payment">
        SELECT <include refid="columns" /> FROM t_payment 
        <include refid="find_where"/>
    </select>

    <sql id="find_where">
        <!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
        <where>
           <if test="@Ognl@isNotEmpty(outTradeNo)">
                AND out_trade_no = #{outTradeNo}
            </if>
           <if test="@Ognl@isNotEmpty(totalFee)">
                AND totalFee = #{totalFee}
            </if>
           <if test="@Ognl@isNotEmpty(orderId)">
                AND orderId = #{orderId}
            </if>
           <if test="@Ognl@isNotEmpty(subOrderId)">
                AND subOrderId = #{subOrderId}
            </if>
           <if test="@Ognl@isNotEmpty(status)">
                AND status = #{status}
            </if>
           <if test="@Ognl@isNotEmpty(createTime)">
                AND createTime = #{createTime}
            </if>
           <if test="@Ognl@isNotEmpty(updateTime)">
                AND updateTime = #{updateTime}
            </if>
           <if test="@Ognl@isNotEmpty(tradeNo)">
                AND trade_no = #{tradeNo}
            </if>
           <if test="@Ognl@isNotEmpty(way)">
                AND way = #{way}
            </if>
           <if test="@Ognl@isNotEmpty(payType)">
                AND pay_type = #{payType}
            </if>
           <if test="@Ognl@isNotEmpty(payConfirm)">
                AND pay_confirm = #{payConfirm}
            </if>
           <if test="@Ognl@isNotEmpty(payConfirmDate)">
                AND pay_confirm_date = #{payConfirmDate}
            </if>
           <if test="@Ognl@isNotEmpty(note)">
                AND note = #{note}
            </if>
           <if test="@Ognl@isNotEmpty(updUser)">
                AND upd_user = #{updUser}
            </if>
           <if test="@Ognl@isNotEmpty(exp1)">
                AND exp1 = #{exp1}
            </if>
           <if test="@Ognl@isNotEmpty(appId)">
                AND app_id = #{appId}
            </if>
           <if test="@Ognl@isNotEmpty(orderType)">
                AND order_type = #{orderType}
            </if>
        </where>
    </sql>
</mapper>