<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="RefundorderMapper">

	<resultMap id="Refundorder" type="com.wode.factory.model.Refundorder">
        <result property="refundOrderId" column="refundOrderId"/>
        <result property="returnOrderId" column="returnOrderId"/>
        <result property="expressCompany" column="express_company"/>
        <result property="refundPrice" column="refundPrice"/>
        <result property="refundAccount" column="refundAccount"/>
        <result property="reason" column="reason"/>
        <result property="note" column="note"/>
        <result property="status" column="status"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
        <result property="updateBy" column="updateBy"/>
        <result property="goodsStatus" column="goodsStatus"/>
        <result property="lastTime" column="lastTime"/>
		<result property="userId" column="userId"/>
        <collection property="attachmentList" ofType="com.wode.factory.model.RefundorderAttachment">
			<result property="id" column="id"/>
	        <result property="image" column="image"/>
		</collection>
	</resultMap>
	
	<resultMap id="listRefundOrders" type="com.wode.factory.model.open.RefundOrders">
        <result property="refund_id" column="refundOrderId"/>
        <result property="trade_id" column="subOrderId"/>
        <result property="status" column="status"/>
        <result property="refund_type" column="refund_type"/>
        <result property="goods_status" column="goodsStatus"/>
        <result property="created" column="createTime"/>
        <result property="payment" column="realPrice"/>
        <result property="shipping_fee" column="totalShipping"/>
        <result property="refund_fee" column="refundPrice"/>
        <result property="returnOrderid" column="returnOrderId"/>
	</resultMap>
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		refundOrderId,returnOrderId,express_company,refundPrice,refundAccount,reason,status,createTime,updateTime,updateBy,goodsStatus,lastTime,note,userId
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="refundOrderId">
    <![CDATA[
        INSERT INTO t_refundorder (
        	refundOrderId ,
        	returnOrderId ,
        	express_company ,
        	refundPrice ,
        	refundAccount ,
        	reason ,
        	status ,
        	createTime ,
        	updateTime ,
        	updateBy,
        	goodsStatus,
        	lastTime,
        	note,
        	userId
        ) VALUES (
        	#{refundOrderId} ,
        	#{returnOrderId} ,
        	#{expressCompany} ,
        	#{refundPrice} ,
        	#{refundAccount} ,
        	#{reason} ,
        	#{status} ,
        	#{createTime} ,
        	#{updateTime} ,
        	#{updateBy},
        	#{goodsStatus},
        	#{lastTime},
        	#{note},
        	#{userId}
        )
    ]]>
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    
	<update id="update" >
    <![CDATA[
        UPDATE t_refundorder SET
	        returnOrderId = #{returnOrderId} ,
	        express_company = #{expressCompany} ,
	        refundPrice = #{refundPrice} ,
	        refundAccount = #{refundAccount} ,
	        reason = #{reason} ,
	        status = #{status} ,
	        createTime = #{createTime} ,
	        updateTime = #{updateTime} ,
	        updateBy = #{updateBy},
	        goodsStatus = #{goodsStatus},
	        lastTime=#{lastTime},
	        note=#{note}
        WHERE 
	        refundOrderId = #{refundOrderId} 
    ]]>
	</update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM t_refundorder WHERE
        refundOrderId = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultMap="Refundorder">
		SELECT <include refid="columns" />
	    <![CDATA[
		    FROM t_refundorder 
	        WHERE 
		        refundOrderId = #{id} 
	    ]]>
	</select>
   <select id="getRefundorById" resultMap="Refundorder">
		SELECT ref.*,att.* from t_refundorder as ref 
		LEFT JOIN t_refundorder_attachment as att on att.refundOrderId=ref.refundOrderId
		WHERE ref.refundOrderId = #{id} 
	</select>
		
    <select id="findPage_count" resultType="long">
        SELECT count(*) FROM t_refundorder 
		<include refid="findPage_where"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findPage" resultMap="Refundorder">
    	SELECT <include refid="columns" />
	    FROM t_refundorder 
		<include refid="findPage_where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
	<sql id="findPage_where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
	       <if test="@Ognl@isNotEmpty(refundOrderId)">
				AND refundOrderId = #{refundOrderId}
			</if>
	       <if test="@Ognl@isNotEmpty(returnOrderId)">
				AND returnOrderId = #{returnOrderId}
			</if>
	       <if test="@Ognl@isNotEmpty(expressCompany)">
				AND express_company = #{expressCompany}
			</if>
	       <if test="@Ognl@isNotEmpty(refundPrice)">
				AND refundPrice = #{refundPrice}
			</if>
	       <if test="@Ognl@isNotEmpty(refundAccount)">
				AND refundAccount = #{refundAccount}
			</if>
	       <if test="@Ognl@isNotEmpty(reason)">
				AND reason = #{reason}
			</if>
	       <if test="@Ognl@isNotEmpty(status)">
				AND status = #{status}
			</if>
	       <if test="@Ognl@isNotEmpty(createTimeBegin)">
				AND createTime >= #{createTimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(createTimeEnd)">
				AND createTime &lt;= #{createTimeEnd}
		   </if>
	       <if test="@Ognl@isNotEmpty(updateTimeBegin)">
				AND updateTime >= #{updateTimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(updateTimeEnd)">
				AND updateTime &lt;= #{updateTimeEnd}
		   </if>
	       <if test="@Ognl@isNotEmpty(updateBy)">
				AND updateBy = #{updateBy}
			</if>
			<if test="@Ognl@isNotEmpty(goodsStatus)">
				AND goodsStatus = #{goodsStatus}
			</if>
			<if test="@Ognl@isNotEmpty(userId)">
				AND userId = #{userId}
			</if>
			
		</where>
	</sql>
	
	<select id="getRefundorWithSuborder" resultMap="listRefundOrders">
	SELECT
	torder.refundOrderId,
	torder.subOrderId,
	trefund.`status`,
	trefund.goodsStatus,
	trefund.createTime,
	torder.realPrice,
	torder.totalShipping,
	trefund.refundPrice,
	trefund.returnOrderId,
    case     when  torder.returnOrderId IS NULL then '1'    
        else '2' end refund_type
	FROM
	t_suborder torder
	LEFT JOIN t_refundorder trefund ON torder.refundOrderId =
	trefund.refundOrderId
	WHERE
	torder.refundOrderId IS NOT NULL
	AND torder.supplierId = #{supplierId}
	AND trefund.`status` = #{status}
	AND trefund.createTime >=#{starttime} AND trefund.createTime &lt;=#{endtime}
	<if test="@Ognl@isNotEmpty(goods_status)">
	AND trefund.goodsStatus = #{goods_status}
	</if>
	<if test="@Ognl@isNotEmpty(refund_type) and refund_type == 1">
	AND torder.returnOrderId is null
	</if>
	<if test="@Ognl@isNotEmpty(refund_type) and refund_type == 2">
	AND torder.returnOrderId is not null
	</if>
	</select>
	
	<select id="selectAttachmentsByRefundOrderId" resultType="java.util.Map">
	  select * from t_refundorder_attachment
	  where 1=1 and refundOrderId = #{refundOrderId}
	</select>
</mapper>

