<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="SupplierExchangeProductMapper">

    <resultMap id="SupplierExchangeProduct" type="com.wode.factory.model.SupplierExchangeProduct">
        <result property="id" column="id"/>
        <result property="supplierId" column="supplier_id"/>
        <result property="saleKbn" column="sale_kbn"/>
        <result property="saleNote" column="sale_note"/>
        <result property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="productImg" column="product_img"/>
        <result property="productPrice" column="product_price"/>
        <result property="productCnt" column="product_cnt"/>
        <result property="empLevel" column="emp_level"/>
        <result property="empCnt" column="emp_cnt"/>
        <result property="empAvgCnt" column="emp_avg_cnt"/>
        <result property="empAvgAmount" column="emp_avg_amount"/>
        <result property="limitType" column="limit_type"/>
        <result property="limitStart" column="limit_start"/>
        <result property="limitEnd" column="limit_end"/>
        <result property="status" column="status"/>
        <result property="createDate" column="create_date"/>
        <result property="createUser" column="create_user"/>
        <result property="updateDate" column="update_date"/>
        <result property="updateUser" column="update_user"/>
        <result property="sellCnt" column="sell_cnt"/>
        <result property="distributeCnt" column="distribute_cnt"/>
        <result property="stopDate" column="stop_date"/>
        <result property="allSaleAmount" column="all_sale_amount"/>
        <result property="shareAmount" column="share_amount"/>
        <result property="notifyFlg" column="notify_flg"/>
        <result property="clearStatus" column="clear_status"/>
        <result property="clearDate" column="clear_date"/>
        <result property="offlineFlg" column="offline_flg"/>
        <result property="offlineDate" column="offline_date"/>
    </resultMap>
    
    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        <![CDATA[
        id,supplier_id,sale_kbn,sale_note,product_id,product_name,product_img,product_price,product_cnt,emp_level,emp_cnt,emp_avg_cnt,emp_avg_amount,limit_type,limit_start,limit_end,status,create_date,create_user,update_date,update_user,sell_cnt,distribute_cnt,stop_date,all_sale_amount,share_amount,notify_flg,clear_status,clear_date,offline_flg,offline_date
        ]]>
    </sql>

    <!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO t_supplier_exchange_product (
            id ,
            supplier_id ,
            sale_kbn ,
            sale_note ,
            product_id ,
            product_name ,
            product_img ,
            product_price ,
            product_cnt ,
            emp_level ,
            emp_cnt ,
            emp_avg_cnt ,
            emp_avg_amount ,
            limit_type ,
            limit_start ,
            limit_end ,
            status ,
            create_date ,
            create_user ,
            update_date ,
            update_user ,
            sell_cnt ,
            distribute_cnt ,
            stop_date ,
            all_sale_amount ,
            share_amount ,
            notify_flg ,
            clear_status ,
            clear_date ,
            offline_flg ,
            offline_date
        ) VALUES (
            #{id} ,
            #{supplierId} ,
            #{saleKbn} ,
            #{saleNote} ,
            #{productId} ,
            #{productName} ,
            #{productImg} ,
            #{productPrice} ,
            #{productCnt} ,
            #{empLevel} ,
            #{empCnt} ,
            #{empAvgCnt} ,
            #{empAvgAmount} ,
            #{limitType} ,
            #{limitStart} ,
            #{limitEnd} ,
            #{status} ,
            #{createDate} ,
            #{createUser} ,
            #{updateDate} ,
            #{updateUser} ,
            #{sellCnt} ,
            #{distributeCnt} ,
            #{stopDate} ,
            #{allSaleAmount} ,
            #{shareAmount} ,
            #{notifyFlg} ,
            #{clearStatus} ,
            #{clearDate} ,
            #{offlineFlg} ,
            #{offlineDate}
        )
    ]]>
    </insert>

    <update id="update" >
    <![CDATA[
        UPDATE t_supplier_exchange_product SET            
            supplier_id = #{supplierId} ,
            sale_kbn = #{saleKbn} ,
            sale_note = #{saleNote} ,
            product_id = #{productId} ,
            product_name = #{productName} ,
            product_img = #{productImg} ,
            product_price = #{productPrice} ,
            product_cnt = #{productCnt} ,
            emp_level = #{empLevel} ,
            emp_cnt = #{empCnt} ,
            emp_avg_cnt = #{empAvgCnt} ,
            emp_avg_amount = #{empAvgAmount} ,
            limit_type = #{limitType} ,
            limit_start = #{limitStart} ,
            limit_end = #{limitEnd} ,
            status = #{status} ,
            create_date = #{createDate} ,
            create_user = #{createUser} ,
            update_date = #{updateDate} ,
            update_user = #{updateUser} ,
            sell_cnt = #{sellCnt} ,
            distribute_cnt = #{distributeCnt} ,
            stop_date = #{stopDate} ,
            all_sale_amount = #{allSaleAmount} ,
            share_amount = #{shareAmount} ,
            notify_flg = #{notifyFlg} ,
            clear_status = #{clearStatus} ,
            clear_date = #{clearDate} ,
            offline_flg = #{offlineFlg} ,
            offline_date = #{offlineDate} 
        WHERE 
            id = #{id} 
    ]]>
    </update>
    
    <delete id="delete">
    <![CDATA[
        DELETE FROM t_supplier_exchange_product WHERE
        id = #{id} 
    ]]>
    </delete>
    <select id="getByProductId" resultMap="SupplierExchangeProduct">
        SELECT <include refid="columns" />
        <![CDATA[
            FROM t_supplier_exchange_product 
            WHERE 
               product_id = #{productId}
        ]]>
    </select>
    
    <select id="getById" resultMap="SupplierExchangeProduct">
        SELECT <include refid="columns" />
        <![CDATA[
            FROM t_supplier_exchange_product 
            WHERE 
                id = #{id} 
        ]]>
    </select>

    <select id="findListByMap" resultMap="SupplierExchangeProduct">
        SELECT <include refid="columns" /> FROM t_supplier_exchange_product 
        where 1=1
        <if test="@Ognl@isNotEmpty(productId)">
                AND product_id = #{productId}
            </if>
            <if test="@Ognl@isNotEmpty(status)">
                AND FIND_IN_SET(status,#{status})
            </if>
    </select>
    
    <select id="selectByModel" resultMap="SupplierExchangeProduct">
        SELECT <include refid="columns" /> FROM t_supplier_exchange_product 
        <include refid="find_where"/>
    </select>

    <sql id="find_where">
        <!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
        <where>
           <if test="@Ognl@isNotEmpty(id)">
                AND id = #{id}
            </if>
           <if test="@Ognl@isNotEmpty(supplierId)">
                AND supplier_id = #{supplierId}
            </if>
           <if test="@Ognl@isNotEmpty(saleKbn)">
                AND sale_kbn = #{saleKbn}
            </if>
           <if test="@Ognl@isNotEmpty(saleNote)">
                AND sale_note = #{saleNote}
            </if>
           <if test="@Ognl@isNotEmpty(productId)">
                AND product_id = #{productId}
            </if>
           <if test="@Ognl@isNotEmpty(productName)">
                AND product_name = #{productName}
            </if>
           <if test="@Ognl@isNotEmpty(productImg)">
                AND product_img = #{productImg}
            </if>
           <if test="@Ognl@isNotEmpty(productPrice)">
                AND product_price = #{productPrice}
            </if>
           <if test="@Ognl@isNotEmpty(productCnt)">
                AND product_cnt = #{productCnt}
            </if>
           <if test="@Ognl@isNotEmpty(empLevel)">
                AND emp_level = #{empLevel}
            </if>
           <if test="@Ognl@isNotEmpty(empCnt)">
                AND emp_cnt = #{empCnt}
            </if>
           <if test="@Ognl@isNotEmpty(empAvgCnt)">
                AND emp_avg_cnt = #{empAvgCnt}
            </if>
           <if test="@Ognl@isNotEmpty(empAvgAmount)">
                AND emp_avg_amount = #{empAvgAmount}
            </if>
           <if test="@Ognl@isNotEmpty(limitType)">
                AND limit_type = #{limitType}
            </if>
           <if test="@Ognl@isNotEmpty(limitStart)">
                AND limit_start = #{limitStart}
            </if>
           <if test="@Ognl@isNotEmpty(limitEnd)">
                AND limit_end = #{limitEnd}
            </if>
           <if test="@Ognl@isNotEmpty(status)">
                AND status = #{status}
            </if>
           <if test="@Ognl@isNotEmpty(createDate)">
                AND create_date = #{createDate}
            </if>
           <if test="@Ognl@isNotEmpty(createUser)">
                AND create_user = #{createUser}
            </if>
           <if test="@Ognl@isNotEmpty(updateDate)">
                AND update_date = #{updateDate}
            </if>
           <if test="@Ognl@isNotEmpty(updateUser)">
                AND update_user = #{updateUser}
            </if>
           <if test="@Ognl@isNotEmpty(sellCnt)">
                AND sell_cnt = #{sellCnt}
            </if>
           <if test="@Ognl@isNotEmpty(distributeCnt)">
                AND distribute_cnt = #{distributeCnt}
            </if>
           <if test="@Ognl@isNotEmpty(stopDate)">
                AND stop_date = #{stopDate}
            </if>
           <if test="@Ognl@isNotEmpty(allSaleAmount)">
                AND all_sale_amount = #{allSaleAmount}
            </if>
           <if test="@Ognl@isNotEmpty(shareAmount)">
                AND share_amount = #{shareAmount}
            </if>
           <if test="@Ognl@isNotEmpty(notifyFlg)">
                AND notify_flg = #{notifyFlg}
            </if>
           <if test="@Ognl@isNotEmpty(clearStatus)">
                AND clear_status = #{clearStatus}
            </if>
           <if test="@Ognl@isNotEmpty(clearDate)">
                AND clear_date = #{clearDate}
            </if>
           <if test="@Ognl@isNotEmpty(offlineFlg)">
                AND offline_flg = #{offlineFlg}
            </if>
           <if test="@Ognl@isNotEmpty(offlineDate)">
                AND offline_date = #{offlineDate}
            </if>
        </where>
    </sql>

	<select id="findPage_count" resultType="long">
        SELECT count(*) FROM t_supplier_exchange_product 
	    <where>	
	    	1=1
		  <if test="id != null" >
        	and id = #{id,jdbcType=BIGINT} 
	      </if>
		  <if test="supplierId != null" >
        	and supplier_id = #{supplierId,jdbcType=BIGINT} 
	      </if>
           <if test="@Ognl@isNotEmpty(status)">
                AND status = #{status}
            </if>
           <if test="@Ognl@isNotEmpty(productName)">
                AND product_name LIKE CONCAT(CONCAT('%',#{productName}),'%')
            </if>
            
	       <if test="@Ognl@isNotEmpty(limitStart)">
				AND limit_start >= #{limitStart}
		   </if>
	       <if test="@Ognl@isNotEmpty(limitEnd)">
	        <![CDATA[
				AND limit_end <= #{limitEnd}
			]]>
		   </if>
	    </where>
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findPage" resultMap="SupplierExchangeProduct">
		select 
    	<include refid="columns" />
    	from t_supplier_exchange_product
	    <where>	
	    	1=1
		  <if test="id != null" >
        	and id = #{id,jdbcType=BIGINT} 
	      </if>
		  <if test="supplierId != null" >
        	and supplier_id = #{supplierId,jdbcType=BIGINT} 
	      </if>
           <if test="@Ognl@isNotEmpty(status)">
                AND status = #{status}
            </if>
           <if test="@Ognl@isNotEmpty(productName)">
                AND product_name LIKE CONCAT(CONCAT('%',#{productName}),'%')
            </if>
	       <if test="@Ognl@isNotEmpty(limitStart)">
				AND limit_start >= #{limitStart}
		   </if>
	       <if test="@Ognl@isNotEmpty(limitEnd)">
	        <![CDATA[
				AND limit_end <= #{limitEnd}
			]]>
		   </if>
	    </where>
	    ORDER BY create_date DESC
    </select>
</mapper>
