<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.wode.factory.mapper.BrandProducttypeDao">

	<resultMap type="com.wode.factory.model.BrandProducttype" id="BrandProducttype">
		<result property="id" column="id"/>
        <result property="categoryId" column="category_id"/>
        <result property="brandId" column="brand_id"/>
        <result property="supplierId" column="supplier_id"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		id,category_id,brand_id,supplier_id
	    ]]>
	</sql>
	
	<delete id="deleteBySupplierId">
	delete from t_brand_producttype where supplier_id  = #{supplierId}
	</delete>
	
	 <select id="findByBrandIdAndSupplierId" resultMap="BrandProducttype">
         SELECT <include refid="columns" />
        <![CDATA[
            FROM t_brand_producttype 
            WHERE 
                brand_id = ${brandId}
            AND
            	supplier_id= ${supplierId}
        ]]>
    </select>
    
    <delete id="deleteById">
    <![CDATA[
        DELETE FROM t_brand_producttype WHERE
        id = #{id} 
    ]]>
    </delete>
</mapper>