<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.wode.factory.mapper.CommissionRefundCashDao">

    <resultMap id="CommissionRefundCash" type="com.wode.factory.model.CommissionRefundCash">
        <result property="id" column="id"/>
        <result property="amount" column="amount"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        <![CDATA[
        id,amount,update_time
        ]]>
    </sql>

    <!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO t_commission_refund_cash (
            id ,
            amount ,
            update_time
        ) VALUES (
            #{id} ,
            #{amount} ,
            #{updateTime}
        )
    ]]>
    </insert>

    <update id="update" >
    <![CDATA[
        UPDATE t_commission_refund_cash SET            
            amount = #{amount} ,
            update_time = #{updateTime} 
        WHERE 
            id = #{id} 
    ]]>
    </update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM t_commission_refund_cash WHERE
        id = #{id} 
    ]]>
    </delete>
    <select id="getById" resultMap="CommissionRefundCash">
        SELECT <include refid="columns" />
        <![CDATA[
            FROM t_commission_refund_cash 
            WHERE 
                id = #{id} 
        ]]>
    </select>

    <select id="selectByModel" resultMap="CommissionRefundCash">
        SELECT <include refid="columns" /> FROM t_commission_refund_cash 
        <include refid="find_where"/>
    </select>

    <sql id="find_where">
        <!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
        <where>
           <if test="@Ognl@isNotEmpty(id)">
                AND id = #{id}
            </if>
           <if test="@Ognl@isNotEmpty(amount)">
                AND amount = #{amount}
            </if>
           <if test="@Ognl@isNotEmpty(updateTime)">
                AND update_time = #{updateTime}
            </if>
        </where>
    </sql>

</mapper>
