<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.wode.factory.mapper.ExchangeSuborderDao">

    <resultMap id="ExchangeSuborder" type="com.wode.factory.model.ExchangeSuborder">
        <result property="subOrderId" column="subOrderId"/>
        <result property="orderId" column="orderId"/>
        <result property="supplierId" column="supplierId"/>
        <result property="shopId" column="shop_id"/>
        <result property="totalProduct" column="totalProduct"/>
        <result property="totalShipping" column="totalShipping"/>
        <result property="totalAdjustment" column="totalAdjustment"/>
        <result property="realPrice" column="realPrice"/>
        <result property="status" column="status"/>
        <result property="expressNo" column="expressNo"/>
        <result property="expressType" column="expressType"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
        <result property="updateBy" column="updateBy"/>
        <result property="sendAddress" column="sendAddress"/>
        <result property="returnedAddress" column="returnedAddress"/>
        <result property="afterserviceStatus" column="afterserviceStatus"/>
        <result property="commentStatus" column="commentStatus"/>
        <result property="takeTime" column="takeTime"/>
        <result property="userExetendCount" column="userExetendCount"/>
        <result property="lasttakeTime" column="lasttakeTime"/>
        <result property="sendTime" column="sendTime"/>
        <result property="payTime" column="payTime"/>
        <result property="closeReason" column="closeReason"/>
        <result property="urgeNumber" column="urgeNumber"/>
        <result property="urgeTime" column="urgeTime"/>
        <result property="deleteFlag" column="deleteFlag"/>
        <result property="returnOrderId" column="returnOrderId"/>
        <result property="refundOrderId" column="refundOrderId"/>
        <result property="refuseNote" column="refuseNote"/>
        <result property="closeFlg" column="close_flg"/>
        <result property="saleBillId" column="sale_bill_id"/>
        <result property="cashPay" column="cashPay"/>
        <result property="cashNo" column="cashNo"/>
        <result property="thirdPay" column="thirdPay"/>
        <result property="thirdType" column="thirdType"/>
        <result property="thirdNo" column="thirdNo"/>
        <result property="payConfirm" column="pay_confirm"/>
        <result property="payConfirmDate" column="pay_confirm_date"/>
        <result property="cancelTime" column="cancelTime"/>
        <result property="stockUp" column="stock_up"/>
        <result property="benefitType" column="benefit_type"/>
        <result property="benefitAmount" column="benefit_amount"/>
        <result property="companyTicket" column="companyTicket"/>
        <result property="noto" column="noto"/>
        <result property="invoiceItem" column="invoice_item"/>
        <result property="invoiceStatus" column="invoice_status"/>
        <result property="eCardInfo" column="e_card_info"/>
        <result property="userId" column="user_id"/>
        <result property="exchangeStatus" column="exchange_status"/>
        <result property="relationId" column="relation_id"/>
        <result property="freeSwap" column="free_swap"/>
        <result property="productName" column="product_name"/>
        <result property="batchId" column="batch_id"/>
        <result property="limitTicketCnt" column="limit_ticket_cnt"/>
    </resultMap>
    
    <resultMap id="ExchangeOrders" type="com.wode.factory.model.ExchangeOrders">
        <result property="orderId" column="orderId"/>
        <result property="userId" column="userId"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="mobile" column="mobile"/>
        <result property="address" column="address"/>
        <result property="totalProduct" column="totalProduct"/>
        <result property="totalShipping" column="totalShipping"/>
        <result property="totalAdjustment" column="totalAdjustment"/>
        <result property="realPrice" column="realPrice"/>
        <result property="status" column="status"/>
        <result property="invoiceTitle" column="invoiceTitle"/>
        <result property="note" column="note"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
        <result property="updateBy" column="updateBy"/>
        <result property="selfDelivery" column="self_delivery"/>
    </resultMap>
    
    <resultMap id="ExchangeSuborderitem" type="com.wode.factory.model.ExchangeSuborderitem">
        <result property="subOrderItemId" column="subOrderItemId"/>
        <result property="subOrderId" column="subOrderId"/>
        <result property="partNumber" column="partNumber"/>
        <result property="price" column="price"/>
        <result property="number" column="number"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
        <result property="updateBy" column="updateBy"/>
        <result property="productId" column="productId"/>
        <result property="skuId" column="skuId"/>
        <result property="commentFlag" column="commentFlag"/>
        <result property="promotionId" column="promotion_id"/>
        <result property="promotionProductId" column="promotion_product_id"/>
        <result property="realPay" column="real_pay"/>
        <result property="shipping" column="shipping"/>
        <result property="orderId" column="order_id"/>
        <result property="saleBillId" column="sale_bill_id"/>
        <result property="commissionRatio" column="commissionRatio"/>
        <result property="companyTicket" column="companyTicket"/>
        <result property="benefitType" column="benefit_type"/>
        <result property="benefitAmount" column="benefit_amount"/>
        <result property="saleKbn" column="sale_kbn"/>
        <result property="productName" column="productName"/>
        <result property="empPrice" column="emp_price"/>
        <result property="categoryId" column="categoryId"/>
        <result property="categoryName" column="categoryName"/>
        <result property="productCode" column="product_code"/>
        <result property="itemValues" column="itemValues"/>
        <result property="image" column="image"/>
        <result property="benefitTicket" column="benefit_ticket"/>
        <result property="benefitSelf" column="benefit_self"/>
        <result property="internalPurchasePrice" column="internal_purchase_price"/>
    </resultMap>
        
    <resultMap id="UserExchangeFavorites" type="com.wode.factory.model.UserExchangeFavorites">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="productId" column="product_id"/>
        <result property="supplierId" column="supplier_id"/>
        <result property="productName" column="product_name"/>
        <result property="shopName" column="shop_name"/>
        <result property="skuId" column="sku_id"/>
        <result property="salePrice" column="sale_price"/>
        <result property="stock" column="stock"/>
        <result property="imagePath" column="image_path"/>
        <result property="itemValues" column="itemValues"/>
        <result property="createTime" column="create_time"/>
        <result property="orders" column="orders"/>
    </resultMap>
     <resultMap id="exchangeSuborderVo" type="com.wode.factory.vo.ExchangeSuborderVo">
        <id property="subOrderId" column="subOrderId"/>
        <result property="userId" column="userId"/>
        <result property="orderId" column="orderId"/>
        <result property="supplierId" column="supplierId"/>
        <result property="totalProduct" column="totalProduct"/>
        <result property="totalShipping" column="totalShipping"/>
        <result property="totalAdjustment" column="totalAdjustment"/>
        <result property="realPrice" column="realPrice"/>
        <result property="status" column="status"/>
        <result property="expressNo" column="expressNo"/>
        <result property="expressType" column="expressType"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
        <result property="updateBy" column="updateBy"/>
        <result property="sendAddress" column="sendAddress"/>
        <result property="returnedAddress" column="returnedAddress"/>
        <result property="afterserviceStatus" column="afterserviceStatus"/>
        <result property="commentStatus" column="commentStatus"/>
        <result property="takeTime" column="takeTime"/>
        <result property="lasttakeTime" column="lasttakeTime"/>
        <result property="sendTime" column="sendTime"/>
        <result property="payTime" column="payTime"/>
        <result property="cancelTime" column="cancelTime"/>
        <result property="closeReason" column="closeReason"/>
        <result property="urgeNumber" column="urgeNumber"/>
        <result property="urgeTime" column="urgeTime"/>
        <result property="deleteFlag" column="deleteFlag"/>
        <result property="returnOrderId" column="returnOrderId"/>
        <result property="closeFlg" column="close_flg"/>
        <result property="saleBillId" column="sale_bill_id"/>
        <result property="managerName" column="managerName"/>
        <result property="supplierName" column="supplierName"/>
        <result property="productName" column="product_name"/>
        <result property="cashPay" column="cashPay"/>
        <result property="cashNo" column="cashNo"/>
        <result property="thirdPay" column="thirdPay"/>
        <result property="thirdType" column="thirdType"/>
        <result property="thirdNo" column="thirdNo"/>
        <result property="payConfirm" column="pay_confirm"/>
        <result property="payConfirmDate" column="pay_confirm_date"/>
        <result property="companyTicket" column="companyTicket"/>
        <result property="benefitType" column="benefit_type"/>
        <result property="benefitAmount" column="benefit_amount"/>
        <result property="noto" column="noto"/>
        <result property="stockUp" column="stock_up"/>        
        <result property="invoiceStatus" column="invoice_status"/>
        <result property="batchId" column="batch_id"/>
        <result property="exchangeStatus" column="exchange_status"/>
        <result property="relationId" column="relation_id"/>
        <result property="limitTicketCnt" column="limit_ticket_cnt"/>
    </resultMap>
    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        <![CDATA[
        subOrderId,orderId,supplierId,shop_id,totalProduct,totalShipping,totalAdjustment,realPrice,status,expressNo,
        	expressType,createTime,updateTime,updateBy,sendAddress,returnedAddress,afterserviceStatus,commentStatus,
        	takeTime,userExetendCount,lasttakeTime,sendTime,payTime,closeReason,urgeNumber,urgeTime,deleteFlag,returnOrderId,
        	refundOrderId,refuseNote,close_flg,sale_bill_id,cashPay,cashNo,thirdPay,thirdType,thirdNo,pay_confirm,
        	pay_confirm_date,cancelTime,stock_up,benefit_type,benefit_amount,companyTicket,noto,invoice_item,invoice_status,
        	e_card_info,user_id,exchange_status,relation_id,free_swap,batch_id,product_name,limit_ticket_cnt
        ]]>
    </sql>

    <!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO t_exchange_suborder (
            subOrderId ,
            orderId ,
            supplierId ,
            shop_id ,
            totalProduct ,
            totalShipping ,
            totalAdjustment ,
            realPrice ,
            status ,
            expressNo ,
            expressType ,
            createTime ,
            updateTime ,
            updateBy ,
            sendAddress ,
            returnedAddress ,
            afterserviceStatus ,
            commentStatus ,
            takeTime ,
            userExetendCount ,
            lasttakeTime ,
            sendTime ,
            payTime ,
            closeReason ,
            urgeNumber ,
            urgeTime ,
            deleteFlag ,
            returnOrderId ,
            refundOrderId ,
            refuseNote ,
            close_flg ,
            sale_bill_id ,
            cashPay ,
            cashNo ,
            thirdPay ,
            thirdType ,
            thirdNo ,
            pay_confirm ,
            pay_confirm_date ,
            cancelTime ,
            stock_up ,
            benefit_type ,
            benefit_amount ,
            companyTicket ,
            noto ,
            invoice_item ,
            invoice_status ,
            e_card_info ,
            user_id ,
            exchange_status ,
            relation_id,
            free_swap,
            product_name,
            limit_ticket_cnt
        ) VALUES (
            #{subOrderId} ,
            #{orderId} ,
            #{supplierId} ,
            #{shopId} ,
            #{totalProduct} ,
            #{totalShipping} ,
            #{totalAdjustment} ,
            #{realPrice} ,
            #{status} ,
            #{expressNo} ,
            #{expressType} ,
            #{createTime} ,
            #{updateTime} ,
            #{updateBy} ,
            #{sendAddress} ,
            #{returnedAddress} ,
            #{afterserviceStatus} ,
            #{commentStatus} ,
            #{takeTime} ,
            #{userExetendCount} ,
            #{lasttakeTime} ,
            #{sendTime} ,
            #{payTime} ,
            #{closeReason} ,
            #{urgeNumber} ,
            #{urgeTime} ,
            #{deleteFlag} ,
            #{returnOrderId} ,
            #{refundOrderId} ,
            #{refuseNote} ,
            #{closeFlg} ,
            #{saleBillId} ,
            #{cashPay} ,
            #{cashNo} ,
            #{thirdPay} ,
            #{thirdType} ,
            #{thirdNo} ,
            #{payConfirm} ,
            #{payConfirmDate} ,
            #{cancelTime} ,
            #{stockUp} ,
            #{benefitType} ,
            #{benefitAmount} ,
            #{companyTicket} ,
            #{noto} ,
            #{invoiceItem} ,
            #{invoiceStatus} ,
            #{eCardInfo} ,
            #{userId} ,
            #{exchangeStatus} ,
            #{relationId},
            #{freeSwap},
            #{productName},
            #{limitTicketCnt}
        )
    ]]>
    </insert>

    <update id="update" >
    <![CDATA[
        UPDATE t_exchange_suborder SET     
            orderId = #{orderId} ,
            supplierId = #{supplierId} ,
            shop_id = #{shopId} ,
            totalProduct = #{totalProduct} ,
            totalShipping = #{totalShipping} ,
            totalAdjustment = #{totalAdjustment} ,
            realPrice = #{realPrice} ,
            status = #{status} ,
            expressNo = #{expressNo} ,
            expressType = #{expressType} ,
            createTime = #{createTime} ,
            updateTime = #{updateTime} ,
            updateBy = #{updateBy} ,
            sendAddress = #{sendAddress} ,
            returnedAddress = #{returnedAddress} ,
            afterserviceStatus = #{afterserviceStatus} ,
            commentStatus = #{commentStatus} ,
            takeTime = #{takeTime} ,
            userExetendCount = #{userExetendCount} ,
            lasttakeTime = #{lasttakeTime} ,
            sendTime = #{sendTime} ,
            payTime = #{payTime} ,
            closeReason = #{closeReason} ,
            urgeNumber = #{urgeNumber} ,
            urgeTime = #{urgeTime} ,
            deleteFlag = #{deleteFlag} ,
            returnOrderId = #{returnOrderId} ,
            refundOrderId = #{refundOrderId} ,
            refuseNote = #{refuseNote} ,
            close_flg = #{closeFlg} ,
            sale_bill_id = #{saleBillId} ,
            cashPay = #{cashPay} ,
            cashNo = #{cashNo} ,
            thirdPay = #{thirdPay} ,
            thirdType = #{thirdType} ,
            thirdNo = #{thirdNo} ,
            pay_confirm = #{payConfirm} ,
            pay_confirm_date = #{payConfirmDate} ,
            cancelTime = #{cancelTime} ,
            stock_up = #{stockUp} ,
            benefit_type = #{benefitType} ,
            benefit_amount = #{benefitAmount} ,
            companyTicket = #{companyTicket} ,
            noto = #{noto} ,
            invoice_item = #{invoiceItem} ,
            invoice_status = #{invoiceStatus} ,
            e_card_info = #{eCardInfo} ,
            user_id = #{userId} ,
            exchange_status = #{exchangeStatus} ,
            relation_id = #{relationId} ,
            product_name = #{productName},
            limit_ticket_cnt=#{limitTicketCnt}
        WHERE        
            subOrderId = #{subOrderId}
    ]]>
    </update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM t_exchange_suborder WHERE
        subOrderId = #{subOrderId}
    ]]>
    </delete>
    <select id="getById" resultMap="ExchangeSuborder">
        SELECT <include refid="columns" />
        <![CDATA[
            FROM t_exchange_suborder 
            WHERE 
                subOrderId = #{subOrderId}
        ]]>
    </select>
    
    <select id="getOrderById" resultMap="ExchangeOrders">
        SELECT *
        <![CDATA[
            FROM t_exchange_orders 
            WHERE 
                orderId = #{orderId}
        ]]>
    </select>
    
        
    <select id="getOrderAmount" resultType="BigDecimal">
        SELECT sum(totalProduct) 
        <![CDATA[
            FROM t_exchange_suborder 
            WHERE user_id = #{userId}
             AND exchange_status=1
             AND free_swap=1
        ]]>
    </select>

    <select id="selectByModel" resultMap="ExchangeSuborder">
        SELECT <include refid="columns" />
        FROM t_exchange_suborder 
        <include refid="find_where"/>
    </select>
    
    <select id="selectItems" resultMap="ExchangeSuborderitem">
        SELECT *
        FROM t_exchange_suborderitem 
        WHERE subOrderId = #{subOrderId}
    </select>
    
    <select id="selectFavorites" resultMap="UserExchangeFavorites">
        SELECT *
        FROM t_user_exchange_favorites 
        WHERE user_id = #{userId}
        ORDER BY orders,create_time DESC
    </select>
    <select id="getExSuborderList" resultMap="exchangeSuborderVo">
    SELECT suborder.subOrderId,
				O.userId,
				O.mobile,
				suborder.orderId,
				suborder.supplierId,
				suborder.shop_id,
				suborder.totalProduct,
				suborder.totalShipping,
				suborder.totalAdjustment,
				suborder.realPrice,
				suborder.status,
				suborder.expressNo,
				suborder.expressType,
				suborder.createTime,
				suborder.updateTime,
				suborder.updateBy,
				suborder.sendAddress,
				suborder.returnedAddress,
				suborder.afterserviceStatus,
				suborder.commentStatus,
				suborder.takeTime,
				suborder.userExetendCount,
				suborder.lasttakeTime,
				suborder.sendTime,
				suborder.payTime,
				suborder.closeReason,
				suborder.urgeNumber,
				suborder.urgeTime,
				suborder.deleteFlag,
				suborder.returnOrderId,
				suborder.refundOrderId,
				suborder.refuseNote,
				suborder.close_flg,
				suborder.sale_bill_id,
				suborder.pay_confirm,
				suborder.pay_confirm_date,
				suborder.noto,
				suborder.batch_id,
				suborder.exchange_status,
				suborder.relation_id,
        		s.com_name supplierName,s.manager_name managerName        
		 		,suborder.cashPay
		 		,suborder.cashNo
		 		,IFNULL(suborder.thirdPay,0) thirdPay
		 		,suborder.thirdType
		 		,suborder.thirdNo
		 		,suborder.companyTicket
		 		,suborder.benefit_type
		 		,suborder.benefit_amount
		 		,suborder.cancelTime
		 		,suborder.stock_up
		 		,suborder.invoice_status
		 		,suborder.product_name
		 		,suborder.limit_ticket_cnt
        FROM t_exchange_suborder suborder
        INNER JOIN t_supplier s ON(s.id=suborder.supplierId)
        INNER JOIN t_exchange_orders O ON(O.orderId=suborder.orderId)
        <where>	
            <if test="@Ognl@isNotEmpty(status)">
				AND (FIND_IN_SET(suborder.status,#{status})
				<if test="@Ognl@isNotEmpty(payStatus)">
					OR (suborder.status>0 OR suborder.status &lt;-1)
	             </if>
				)
             </if>
            <if test="@Ognl@isEmpty(status)">
            <if test="@Ognl@isNotEmpty(payStatus)">
				AND (suborder.status>0 || suborder.status &lt;-1)
             </if>
             </if>
			<if test="@Ognl@isNotEmpty(closeFlg)">
				AND suborder.close_flg = #{closeFlg}
			</if>
			<if test="@Ognl@isNotEmpty(payConfirm)">
				AND suborder.pay_confirm = #{payConfirm}
			</if>
			<if test="@Ognl@isNotEmpty(subOrderId)">
				AND suborder.subOrderId like CONCAT(CONCAT('%',#{subOrderId}),'%')
			</if>
			<if test="@Ognl@isNotEmpty(startDate)">
				AND suborder.createTime >= #{startDate}
		   </if>
		   <if test="@Ognl@isNotEmpty(endDate)">
				AND suborder.createTime &lt;= #{endDate}
		   </if>
			<if test="@Ognl@isNotEmpty(startPayTime)">
				AND suborder.payTime >= #{startPayTime}
		   </if>
		   <if test="@Ognl@isNotEmpty(endPayTime)">
				AND suborder.payTime &lt;= #{endPayTime}
		   </if>
		   <if test="@Ognl@isNotEmpty(financeSearch)">
				AND suborder.payTime IS NOT NULL
		   </if>
			<if test="@Ognl@isNotEmpty(startCancelDate)">
				AND suborder.cancelTime >= #{startCancelDate}
		   </if>
		   <if test="@Ognl@isNotEmpty(endCancelDate)">
				AND suborder.cancelTime &lt;= #{endCancelDate}
		   </if>		   
		   <if test="@Ognl@isNotEmpty(saleBillId)">
				AND suborder.sale_bill_id = #{saleBillId}
		   </if>		   
		   <if test="@Ognl@isNotEmpty(managerId)">
				AND s.manager_id= #{managerId}
		   </if>
		   <if test="@Ognl@isNotEmpty(supplierId)">
				AND s.id= #{supplierId}
		   </if>
		   <if test="@Ognl@isNotEmpty(thirdType)">
				AND suborder.thirdType= #{thirdType}
		   </if>
		   <if test="@Ognl@isNotEmpty(thirdNo)">
				AND suborder.thirdNo like CONCAT(CONCAT('%',#{thirdNo}),'%')
		   </if>
		   <if test="@Ognl@isNotEmpty(benefitType)">
		   		AND suborder.benefit_type = #{benefitType}
		   </if>
		   <if test="@Ognl@isNotEmpty(realPrice)">
				AND suborder.realPrice > #{realPrice}   
		   </if>
		   <if test="@Ognl@isNotEmpty(durationKey)">
				AND EXISTS (SELECT 1 FROM t_supplier_duration d where d.supplierId=s.id AND FIND_IN_SET(d.saleDurationKey,#{durationKey}))
		   </if>
		   <if test="@Ognl@isNotEmpty(noTest)">
		   		AND s.id &lt;> 88550328206355 AND s.id &lt;>700321969341826
		   </if>
		   <if test="@Ognl@isNotEmpty(batchId)">
		   		AND suborder.batch_id = #{batchId}
		   </if>
		   <if test="@Ognl@isNotEmpty(mobile)">
		   		AND O.mobile = #{mobile}
		   </if>
		</where>
		ORDER BY suborder.createTime DESC
    </select>
    <sql id="find_where">
        <!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
        <where>
           <if test="@Ognl@isNotEmpty(subOrderId)">
				AND subOrderId like CONCAT(CONCAT('%',#{subOrderId}),'%')
            </if>
           <if test="@Ognl@isNotEmpty(orderId)">
                AND orderId = #{orderId}
            </if>
           <if test="@Ognl@isNotEmpty(supplierId)">
                AND supplierId = #{supplierId}
            </if>
           <if test="@Ognl@isNotEmpty(shopId)">
                AND shop_id = #{shopId}
            </if>
           <if test="@Ognl@isNotEmpty(totalProduct)">
                AND totalProduct = #{totalProduct}
            </if>
           <if test="@Ognl@isNotEmpty(totalShipping)">
                AND totalShipping = #{totalShipping}
            </if>
           <if test="@Ognl@isNotEmpty(totalAdjustment)">
                AND totalAdjustment = #{totalAdjustment}
            </if>
           <if test="@Ognl@isNotEmpty(realPrice)">
                AND realPrice = #{realPrice}
            </if>
           <if test="@Ognl@isNotEmpty(status)">
                AND status = #{status}
            </if>
           <if test="@Ognl@isNotEmpty(expressNo)">
                AND expressNo = #{expressNo}
            </if>
           <if test="@Ognl@isNotEmpty(expressType)">
                AND expressType = #{expressType}
            </if>
           <if test="@Ognl@isNotEmpty(createTime)">
				AND createTime &lt; #{createTime}
            </if>
           <if test="@Ognl@isNotEmpty(updateTime)">
                AND updateTime = #{updateTime}
            </if>
           <if test="@Ognl@isNotEmpty(updateBy)">
                AND updateBy = #{updateBy}
            </if>
           <if test="@Ognl@isNotEmpty(sendAddress)">
                AND sendAddress = #{sendAddress}
            </if>
           <if test="@Ognl@isNotEmpty(returnedAddress)">
                AND returnedAddress = #{returnedAddress}
            </if>
           <if test="@Ognl@isNotEmpty(afterserviceStatus)">
                AND afterserviceStatus = #{afterserviceStatus}
            </if>
           <if test="@Ognl@isNotEmpty(commentStatus)">
                AND commentStatus = #{commentStatus}
            </if>
           <if test="@Ognl@isNotEmpty(takeTime)">
                AND takeTime = #{takeTime}
            </if>
           <if test="@Ognl@isNotEmpty(userExetendCount)">
                AND userExetendCount = #{userExetendCount}
            </if>
           <if test="@Ognl@isNotEmpty(lasttakeTime)">
                AND lasttakeTime = #{lasttakeTime}
            </if>
           <if test="@Ognl@isNotEmpty(sendTime)">
                AND sendTime = #{sendTime}
            </if>
           <if test="@Ognl@isNotEmpty(payTime)">
                AND payTime = #{payTime}
            </if>
           <if test="@Ognl@isNotEmpty(closeReason)">
                AND closeReason = #{closeReason}
            </if>
           <if test="@Ognl@isNotEmpty(urgeNumber)">
                AND urgeNumber = #{urgeNumber}
            </if>
           <if test="@Ognl@isNotEmpty(urgeTime)">
                AND urgeTime = #{urgeTime}
            </if>
           <if test="@Ognl@isNotEmpty(deleteFlag)">
                AND deleteFlag = #{deleteFlag}
            </if>
           <if test="@Ognl@isNotEmpty(returnOrderId)">
                AND returnOrderId = #{returnOrderId}
            </if>
           <if test="@Ognl@isNotEmpty(refundOrderId)">
                AND refundOrderId = #{refundOrderId}
            </if>
           <if test="@Ognl@isNotEmpty(refuseNote)">
                AND refuseNote = #{refuseNote}
            </if>
           <if test="@Ognl@isNotEmpty(closeFlg)">
                AND close_flg = #{closeFlg}
            </if>
           <if test="@Ognl@isNotEmpty(saleBillId)">
                AND sale_bill_id = #{saleBillId}
            </if>
           <if test="@Ognl@isNotEmpty(cashPay)">
                AND cashPay = #{cashPay}
            </if>
           <if test="@Ognl@isNotEmpty(cashNo)">
                AND cashNo = #{cashNo}
            </if>
           <if test="@Ognl@isNotEmpty(thirdPay)">
                AND thirdPay = #{thirdPay}
            </if>
           <if test="@Ognl@isNotEmpty(thirdType)">
                AND thirdType = #{thirdType}
            </if>
           <if test="@Ognl@isNotEmpty(thirdNo)">
                AND thirdNo = #{thirdNo}
            </if>
           <if test="@Ognl@isNotEmpty(payConfirm)">
                AND pay_confirm = #{payConfirm}
            </if>
           <if test="@Ognl@isNotEmpty(payConfirmDate)">
                AND pay_confirm_date = #{payConfirmDate}
            </if>
           <if test="@Ognl@isNotEmpty(cancelTime)">
                AND cancelTime = #{cancelTime}
            </if>
           <if test="@Ognl@isNotEmpty(stockUp)">
                AND stock_up = #{stockUp}
            </if>
           <if test="@Ognl@isNotEmpty(benefitType)">
                AND benefit_type = #{benefitType}
            </if>
           <if test="@Ognl@isNotEmpty(benefitAmount)">
                AND benefit_amount = #{benefitAmount}
            </if>
           <if test="@Ognl@isNotEmpty(companyTicket)">
                AND companyTicket = #{companyTicket}
            </if>
           <if test="@Ognl@isNotEmpty(noto)">
                AND noto = #{noto}
            </if>
           <if test="@Ognl@isNotEmpty(invoiceItem)">
                AND invoice_item = #{invoiceItem}
            </if>
           <if test="@Ognl@isNotEmpty(invoiceStatus)">
                AND invoice_status = #{invoiceStatus}
            </if>
           <if test="@Ognl@isNotEmpty(eCardInfo)">
                AND e_card_info = #{eCardInfo}
            </if>
           <if test="@Ognl@isNotEmpty(userId)">
                AND user_id = #{userId}
            </if>
           <if test="@Ognl@isNotEmpty(exchangeStatus)">
                AND exchange_status = #{exchangeStatus}
            </if>
           <if test="@Ognl@isNotEmpty(relationId)">
                AND relation_id = #{relationId}
            </if>
           <if test="@Ognl@isNotEmpty(freeSwap)">
                AND free_swap = #{freeSwap}
            </if>
            <if test="@Ognl@isNotEmpty(batchId)">
                AND batch_id = #{batchId}
            </if>
            <if test="@Ognl@isNotEmpty(enterpriseName)">
				AND EXISTS (SELECT 1 FROM t_enterprise_user e INNER JOIN t_supplier s ON(e.enterprise_id=s.id) WHERE e.id=t_exchange_suborder.user_id AND (s.com_name LIKE CONCAT(CONCAT('%' ,#{enterpriseName}), '%') OR s.nick_name LIKE CONCAT(CONCAT('%' ,#{enterpriseName}), '%')))
		   </if>
        </where>
    </sql>
</mapper>
