<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.wode.factory.mapper.ProductAttributeMapper">

	<resultMap id="ProductAttribute" type="com.wode.factory.model.ProductAttribute">
        <result property="id" column="id"/>
        <result property="productId" column="product_id"/>
        <result property="attributeId" column="attribute_id"/>
        <result property="value" column="value"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		id,product_id,attribute_id,value
	    ]]>
	</sql>
	
	<delete id="deleteBySupplierId">
	delete from t_product_attribute where product_id in (SELECT id from t_product where supplier_id = #{supplierId})
	</delete>
	
	 <select id="getByProductId" resultMap="ProductAttribute">
		SELECT <include refid="columns" />
	    <![CDATA[
		    FROM t_product_attribute 
	        WHERE 
		        product_id = #{productId} 
	    ]]>
	</select>
	
	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO t_product_attribute (
        	id ,
        	product_id ,
        	attribute_id ,
        	value
        ) VALUES (
        	#{id} ,
        	#{productId} ,
        	#{attributeId} ,
        	#{value} 
        )
    ]]>
	</insert>
	
	<delete id="deleteById">
    <![CDATA[
        DELETE FROM t_product_attribute WHERE
        id = #{id} 
    ]]>
    </delete>
	</mapper>