<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper         PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"         "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.wode.factory.mapper.ShippingTemplateRuletDao">
	<resultMap id="BaseResultMap" type="com.wode.factory.model.ShippingTemplateRule" >
	    <id column="id" property="id" jdbcType="BIGINT" />
	    <result column="template_id" property="templateId" jdbcType="BIGINT" />
	    <result column="count_type" property="countType" jdbcType="CHAR" />
	    <result column="send_type" property="sendType" jdbcType="CHAR" />
	    <result column="sort" property="sort" jdbcType="INTEGER" />
	    <result column="areas_name" property="areasName" jdbcType="VARCHAR" />
	    <result column="areas_code" property="areasCode" jdbcType="VARCHAR" />
	    <result column="first_cnt" property="firstCnt" jdbcType="DECIMAL" />
	    <result column="first_price" property="firstPrice" jdbcType="DECIMAL" />
	    <result column="plus_cnt" property="plusCnt" jdbcType="DECIMAL" />
	    <result column="plus_price" property="plusPrice" jdbcType="DECIMAL" />
	  </resultMap>
	  <sql id="Base_Column_List" >
	    id, template_id, count_type,send_type, sort, areas_name, areas_code, first_cnt, first_price, 
	    plus_cnt, plus_price
	  </sql>
	  
	  <delete id="deleteBySupplierId">
	  delete from t_shipping_template_rule where template_id in (SELECT id from t_shipping_template where supplier_id = #{supplierId})
	  </delete>
	
	<select id="getByProductId" resultMap="BaseResultMap">
	  select 
	    <include refid="Base_Column_List" />
	    from t_shipping_template_rule
	    where template_id in (select template_id from t_product_shipping where product_id=#{productId})
	    ORDER BY sort
	</select>
	
	 <select id="selectByModel" resultMap="BaseResultMap">
	  select 
	    <include refid="Base_Column_List" />
	    from t_shipping_template_rule
	    where template_id = #{templateId,jdbcType=BIGINT}
	      <if test="countType != null" >
	        and count_type = #{countType,jdbcType=CHAR}
	      </if>
	      <if test="sendType != null" >
	        and send_type = #{sendType,jdbcType=CHAR}
	      </if>
	      <if test="sort != null" >
	        and sort = #{sort,jdbcType=INTEGER}
	      </if>
	      <if test="areasName != null" >
	        and areas_name = #{areasName,jdbcType=VARCHAR}
	      </if>
	      <if test="areasCode != null" >
	        and areas_code = #{areasCode,jdbcType=VARCHAR}
	      </if>
	      <if test="firstCnt != null" >
	        and first_cnt = #{firstCnt,jdbcType=DECIMAL}
	      </if>
	      <if test="firstPrice != null" >
	        and first_price = #{firstPrice,jdbcType=DECIMAL}
	      </if>
	      <if test="plusCnt != null" >
	        and plus_cnt = #{plusCnt,jdbcType=DECIMAL}
	      </if>
	      <if test="plusPrice != null" >
	        and plus_price = #{plusPrice,jdbcType=DECIMAL}
	      </if>
	    ORDER BY sort
	</select>
	<delete id="deleteByTemplateId">
	 delete 
	    from t_shipping_template_rule
	    where template_id = #{templateId,jdbcType=BIGINT}
	</delete>
</mapper>

