<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.wode.factory.mapper.UserTicketDao">

    <resultMap id="UserTicket" type="com.wode.factory.model.UserTicket">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="ticketId" column="ticket_id"/>
        <result property="balance" column="balance"/>
        <result property="ticketLimitDate" column="ticket_limit_date"/>
        <result property="ticketType" column="ticket_type"/>
        <result property="ticketNote" column="ticket_note"/>
        <result property="exp1" column="exp1"/>
        <result property="exp2" column="exp2"/>
        <result property="supplierId" column="supplier_id"/>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        <![CDATA[
        id,user_id,ticket_id,balance,ticket_limit_date,ticket_type,ticket_note,exp1,exp2,supplier_id
        ]]>
    </sql>

    <!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO t_user_ticket (
            id ,
            user_id ,
            ticket_id ,
            balance ,
            ticket_limit_date ,
            ticket_type ,
            ticket_note ,
            exp1 ,
            exp2 ,
            supplier_id
        ) VALUES (
            #{id} ,
            #{userId} ,
            #{ticketId} ,
            #{balance} ,
            #{ticketLimitDate} ,
            #{ticketType} ,
            #{ticketNote} ,
            #{exp1} ,
            #{exp2} ,
            #{supplierId}
        )
    ]]>
    </insert>

    <update id="update" >
    <![CDATA[
        UPDATE t_user_ticket SET            
            user_id = #{userId} ,
            ticket_id = #{ticketId} ,
            balance = #{balance} ,
            ticket_limit_date = #{ticketLimitDate} ,
            ticket_type = #{ticketType} ,
            ticket_note = #{ticketNote} ,
            exp1 = #{exp1} ,
            exp2 = #{exp2} ,
            supplier_id = #{supplierId} 
        WHERE 
            id = #{id} 
    ]]>
    </update>

    <update id="updateLimitByTicketId" >
    <![CDATA[
        UPDATE t_user_ticket SET
            ticket_limit_date = #{ticketLimitDate}
        WHERE 
            ticket_id = #{ticketId} 
    ]]>
    </update>
    
    <delete id="delete">
    <![CDATA[
        DELETE FROM t_user_ticket WHERE
        id = #{id} 
    ]]>
    </delete>
    <select id="getById" resultMap="UserTicket">
        SELECT <include refid="columns" />
        <![CDATA[
            FROM t_user_ticket 
            WHERE 
                id = #{id} 
        ]]>
    </select>

    <select id="selectByModel" resultMap="UserTicket">
        SELECT <include refid="columns" /> FROM t_user_ticket 
        <include refid="find_where"/>
    </select>

    <sql id="find_where">
        <!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
        <where>
           <if test="@Ognl@isNotEmpty(id)">
                AND id = #{id}
            </if>
           <if test="@Ognl@isNotEmpty(userId)">
                AND user_id = #{userId}
            </if>
           <if test="@Ognl@isNotEmpty(ticketId)">
                AND ticket_id = #{ticketId}
            </if>
           <if test="@Ognl@isNotEmpty(balance)">
                AND balance = #{balance}
            </if>
           <if test="@Ognl@isNotEmpty(ticketLimitDate)">
                AND ticket_limit_date = #{ticketLimitDate}
            </if>
           <if test="@Ognl@isNotEmpty(ticketType)">
                AND ticket_type = #{ticketType}
            </if>
           <if test="@Ognl@isNotEmpty(ticketNote)">
                AND ticket_note = #{ticketNote}
            </if>
           <if test="@Ognl@isNotEmpty(exp1)">
                AND exp1 = #{exp1}
            </if>
           <if test="@Ognl@isNotEmpty(exp2)">
                AND exp2 = #{exp2}
            </if>
           <if test="@Ognl@isNotEmpty(supplierId)">
                AND supplier_id = #{supplierId}
            </if>
        </where>
    </sql>

</mapper>
