<div >
			<div class="profile-info-row">
				<div class="pull-left"><span class="btn btn-info btn-sm " data-mode="page" data-title="派送内购券"
							data-url="${ctxPath}/welfareDispatch/toDispatch"
							data-data="{}" data-width="50%" data-height="50%" id="pull">派送内购券</span></div>
			</div>
			<br />
			<div class="profile-info-row">
				<div class="pull-left"><span class="btn btn-info btn-sm " data-mode="page" data-title="设置首次登陆内购券奖励"
							data-url="${ctxPath}/welfareDispatch/toPrizeSet"
							data-data="{}" data-width="50%" data-height="50%" id="pull2">设置内购券奖励</span></div>
			</div>
			<br />
			<div class="profile-info-row">
				<div class="pull-left"><span class="btn btn-info btn-sm " data-mode="page" data-title="向用户推送消息"
							data-url="${ctxPath}/welfareDispatch/toSmsSend"
							data-data="{}" data-width="50%" data-height="50%" id="pull2">向用户推送消息</span></div>
			</div>
			<br />
			<div class="profile-info-row">
				<div class="pull-left"><span class="btn btn-info btn-sm " data-mode="page" data-title="向用户发送邮件"
							data-url="${ctxPath}/welfareDispatch/toEmailSend"
							data-data="{}" data-width="50%" data-height="50%" id="pull2">向用户发送邮件</span></div>
			</div>
			<br />
			<div class="profile-info-row">
				<div class="pull-left"><span class="btn btn-info btn-sm " data-mode="page" data-title="设置首次评价奖励"
							data-url="${ctxPath}/welfareDispatch/toComment"
							data-data="{}" data-width="50%" data-height="50%" id="pull2">设置评论奖励</span></div>
			</div>
</div>
