@charset "utf-8";
/* CSS Document */
html, body, div, span, iframe,h1, h2, h3, h4, h5, h6,p,pre,a,del, em, font, ins, q, s, samp,dl, dt, dd, ol, ul, li, form,label, legend, caption,textarea, tbody{ margin:0; padding:0; }

body{font-size:62.5%;font-family:"微软雅黑";  width:100%;background:#fff;}

ol,ul,li {	list-style: none; }

blockquote:before, blockquote:after,q:before, q:after {	content: ""; }

blockquote, q { quotes: "" ""; }

a img {	border: 0; }

article, aside, details, figcaption, figure,

footer, header, hgroup, menu, nav, section { display: block; }

h1,h2,h3,h4,h5,h6{font-weight:700}

strong{font-weight:700}

cite,em{font-style:normal}

i{font-style:italic}

img,objiect{ max-width:100%;vertical-align:middle/* 此样式会控制前端图片属性所以去掉*/ }
area{outline:none;}
a { text-decoration:none;border:none;-webkit-tap-highlight-color:transparent;outline:none;-webkit-touch-callout: none;-webkit-user-select: none; }
a:focus {outline:none; -moz-outline:none}
input,textarea{ outline:none; resize:none;-webkit-appearance:none;}

.header{width:100%;height:210px;background:#fff;}
.top{height:19px;width:100%;border-bottom:1px solid #1c1c1e;position:relative;}
.top p{height:40px;width:240px;background:#fff;position:absolute;top:0; left:50%;margin-left:-120px;text-align:center;line-height:40px;font-size:16px;color:#1c1c1e;}

.logo{width:100%;height:110px;line-height:110px;text-align:center;margin-top:24px;}
.logo img{max-height:110px;}
.search_fixed{width:100%;height:52px;background:#fff;-webkit-animation: searchTop .5s ease-in-out;-moz-animation: searchTop .5s ease-in-out;animation: searchTop .5s ease-in-out;}
.fixed{position:fixed;top:0;left:0;z-index:999;border-bottom:2px solid #FFCA00}
.search_fixed_con{width:1200px;height:40px;margin:0 auto;padding:16px 0 0 0;}

.search_fixed_con .ul1{width:210px;height:36px;float:left;}
.search_fixed_con .ul1 li{height:36px;float:left;margin:0 15px;}
.search_fixed_con .ul1 li a{font-size:22px;color:#aaaaaa;}
.search_fixed_con .ul1 .li1{height:33px;border-bottom:3px solid #FFCA00;}
.search_fixed_con .ul1 .li1 a{color:#F7D930}

.searchbox{width:440px;height:26px;float:left;margin:0px 0 0 170px;position:relative;}
.inp_box{width:440px;height:25px;overflow:hidden;border-bottom:1px solid #1c1c1e;}
.inp_box .searchinput{width:390px;height:25px;border:none;float:left;padding:0 10px;}
.inp_box .search_btn{width:20px;height:20px;float:right;margin-right:5px;border:none;background:url(../images/index_glass_icon.png) no-repeat;cursor:pointer;}

.search_history{width:440px;height:auto;padding:6px 0 0 0;border:1px solid #ccc;position:absolute;top:26px;left:0px;z-index:9;background:#fff;}

.search_history ul{width:440px;height:auto;overflow:hidden;}
.search_history ul li{width:420px;height:30px;line-height:30px;padding:0 10px;color:#66a2d8;cursor:pointer;}
.search_history ul li:hover{background:#f4f2f2}
.search_history ul li span{float:left;color:#333;}
.search_history ul li em{font-style:normal;float:right;color:#8d8c8c;}
.search_history ul li a{float:right;color:#8d8c8c;}
.search_history ul li a:hover{color:#ff4040;}
.search_history_close,.search_history_del{width:420px;height:30px;line-height:30px;border-top:1px solid #ccc;padding-right:10px;}
.search_history_close a,.search_history_del a{float:right;color:#8d8c8c}

.search_fixed_con .ul2{width:168px;height:22px;float:right;z-index:9;margin-top:9px;}
.search_fixed_con .ul2 li{width:55px;height:22px;float:left;position:relative;}
.search_fixed_con .ul2 li .fff_show{width:55px;height:31px;display:block;position:absolute;top:-9px;left:0;}
.search_fixed_con .ul2 li .a1{background:#fff;filter: alpha(opacity=70);opacity: 0.7;}
.search_fixed_con .ul2 li .a2{background:#fff;filter: alpha(opacity=0);opacity: 0;}
.search_fixed_con .ul2 li em{width:20px;height:20px;display:block;margin:0px 17px}
.search_fixed_con .ul2 .buycar span{width:auto;height:14px;display:block;text-align:center;line-height:14px;padding:1px 4px;position:absolute;top:-5px;left:30px;border:1px solid #F7D930;border-radius:12px;color:#FFCA00;background:#fff;}
.dis{display:none;}

.box{width:100px;height:150px;position:absolute;top:22px;z-index:3;filter:progid:DXImageTransform.Microsoft.Shadow(color=#666,direction=120,strength=3);/*ie*/
-moz-box-shadow: 2px 2px 10px #666;/*firefox*/
-webkit-box-shadow: 2px 2px 10px #666;/*safari或chrome*/
box-shadow:2px 2px 10px #666;/*opera或ie9*/}
.buycar_box{width:304px;height:auto;overflow:hidden;background:#fff;padding:10px;left:-168px;}
.buycar_box p{height:50px;width:234px;background:url(../images/buycar_icon.png) no-repeat left center;padding-left:70px;line-height:50px;font-size:14px;color:#6a6a6a;display:none;}
.buycar_con{height:auto;width:304px;overflow:hidden;}
.tit{height:24px;line-height:24px;color:#222;font-size:14px;}
.buycar_list{width:300px;height:auto;overflow:hidden;}
.list_con{width:316px;max-height:280px;overflow-y:scroll;overflow-x:hidden;}
.list_con dl{width:270px;height:70px;padding:10px;border-bottom:1px dashed #eeeeee;}
.list_con dl dt{width:50px;height:50px;float:left;}
.list_con dl dd{width:200px;height:20px;float:right;overflow:hidden;}
.list_con dl .dd1{height:36px;line-height:18px;overflow:hidden;}
.list_con dl .dd1 a{color:#222;}
.list_con dl .dd2{height:20px;margin-top:3px;overflow:hidden;}
.list_con dl .dd3{height:20px;line-height:20px;overflow:hidden;font-size:14px;color:#ff6161;margin-top:3px;}
.list_con dl .dd3 i{font-style:normal;color:#707073;margin-left:2px;}
.list_con dl .dd3 a{float:right;color:#a7a7a7;font-size:12px;}

.buycar_bottom{width:304px;height:70px;padding-top:15px;border-top:1px solid #cccccc;overflow:hidden;}
.buycar_bottom_con{text-align:right;color:#6a6a6a;}
.buycar_bottom_con i{font-style:normal;padding:0 5px;}
.buycar_bottom_con .span1{color:#8fc31f;}
.buycar_bottom_con .span2{color:#ff6179;}
.buycar_bottom a{width:110px;height:30px;display:block;line-height:30px;text-align:center;color:#fff;background:#FFCA00;font-size:14px;float:right;margin-top:10px;border-radius:4px;}

.personal_details_box{width:60px;height:100px;background:#fff;left:-20px;padding:10px 15px;text-align:center;}
.personal_details_box a{font-size:14px;line-height:25px;color:#222222;}
.personal_details_box a:hover{color:#FFCA00;}
.ewm_img{width:176px;height:157px;background:#fff;right:0px;}

.mainbody{width:100%;height:auto;margin:0 auto;overflow:hidden;}

.banner{width:100%;height:460px;}
.banner_box{width:100%;height:460px;overflow:hidden;position:relative;}
.banner_box .d1{width:100%;height:460px;display:block;float:left;position:absolute;top:0;left:0;}
.banner .d2{width:100%;height:30px;clear:both;position:absolute;z-index:100;left:0px;bottom:0px;}
.banner .d2 ul{float:left;position:absolute;left:50%;top:0;margin:0 0 0 -45px;display:inline;}
.banner .d2 li{width:18px;height:18px;overflow:hidden;cursor:pointer;background:url(../images/index_banner_icon1.png) no-repeat center;float:left;margin:0 3px;display:inline;}
.banner .d2 li.nuw{background:url(../images/index_banner_icon2.png) no-repeat center;}

.wrap{width:1200px;height:auto;margin:0 auto;position:relative;}
.exclusive,.alliance,.main_box{width:1200px;margin-top:50px;}
/*自家专享*/
.exclusive{height:auto;overflow:hidden;}
.tit1{height:52px;width:1200px;background:url(../images/index_tit_bg.png) repeat-x;position:relative;}
.tit1 p{height:28px;width:1200px;text-align:center;padding:12px 0;}
.tit1 a{position:absolute;top:28px;right:0;color:#1c1c1e;}

.tit1 .btns1{height:16px;position:absolute;top:28px;right:10px;}
.tit1 .btns1 em{width:9px;height:16px;font-style:normal;display:block;float:left;}
.tit1 .btns1 .btn_left{background:url(../images/btn_icon_left1.png) no-repeat;cursor:pointer;}
.tit1 .btns1 .btn_right{background:url(../images/btn_icon_right1.png) no-repeat;cursor:pointer;}
.tit1 .btns1 .btn_middle{padding:0 12px;text-align:center;line-height:16px;}

.exc_box{width:1200px;height:338px;}
.exc_box .exc_con{width:1062px;height:338px;overflow:hidden;float:left;}
.exc_box .exc_con ul li{width:312px;height:312px;background:#fff;border:1px solid #efefef;margin:0 8px;float:left;padding:12px;position:relative;}


.exc_box .exc_con ul li span{width:312px;height:312px;background:#000;display:block; filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5; }

.exc_box .exc_con ul li .exc_pro_details{width:232px;height:232px;padding:40px;}
.exc_box .exc_con ul li .exc_pro_details p{width:232px;text-align:center;color:#fff;overflow:hidden;}
.exc_pro_details .p1,.exc_pro_details .p4{font-size:16px;line-height:32px;}
.exc_pro_details .p2{height:50px;font-size:20px;line-height:25px;}
.exc_pro_details .p3{height:30px;font-size:28px;line-height:30px;margin-top:10px;}
.exc_pro_details .p5{height:34px;margin-top:16px;}
.exc_pro_details .p5 a{height:34px;width:120px;display:block;margin:0 auto;text-align:center;line-height:34px;background:#FFCA00;color:#fff;font-size:24px; font-family:"黑体";}
.exc_pro_details .p6{text-decoration:line-through;}
.prev,.next{width:69px;height:198px;padding-top:140px;}
.prev{float:left;}
.next{float:right;}
.prev a{margin-left:27px;}
.next a{margin-left:17px;}
.exc_box .exc_con ul li span,.exc_box .exc_con ul li .exc_pro_details{position:absolute;top:12px;left:12px;display:none;}


/*厂商联盟*/
.alliance{height:174px;}
.alliance_con{width:1200px;height:120px;overflow:hidden;border-top:1px solid #1c1c1e;border-bottom:1px solid #1c1c1e;}
.alliance_con ul {margin-left:-1px;}
.alliance_con ul li{width:201px;height:120px;float:left;background:url(../images/alliance_con_li_bg.png) no-repeat right center;}

/*现金券专区*/
.main_box{height:auto;overflow:hidden;}
.main_box .tit2{height:76px;width:1200px;border-bottom:2px solid #1c1c1e;position:relative;}
.main_box .tit2 p{width:1200px;text-align:center;}
.main_box .tit2 .p1{font-size:28px;font-weight:600;color:#1c1c1e;line-height:42px;}
.main_box .tit2 .p2{font-size:16px;color:#aaaaaa;line-height:28px;}
.main_box .tit2 a{position:absolute;top:55px;right:0;color:#1c1c1e;}
.main_box .tit2 span{width:22px;height:22px;display:block;position:absolute;top:66px;left:50%;margin-left:-11px;}
.main_con{width:1200px;height:auto;margin-top:22px;}
.main_con ul{width:1216px;height:auto;margin-left:-16px;}
.main_con ul li{width:286px;height:426px;float:left;margin:0 0 16px 16px;border:1px solid #f2f2f2;}
.main_con ul li a{width:286px;height:426px;display:block;}
.main_con ul li a dl{width:286px;height:400px;}
.main_con ul li a dl dt{width:260px;height:260px;padding:13px;border-bottom:2px solid #f2f2f2;position:relative;}
.main_con ul li a dl dt img{width:260px;height:260px;}
.main_con ul li a dl dt span{width:260px;height:100px;display:block;background:#000;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5; }
.main_con ul li a dl dt p{width:260px;height:80px;padding:10px 0;text-align:center;font-size:16px;color:#fff;line-height:24px;}
.main_con ul li a dl dt p i{font-style:normal;text-decoration:line-through;}
.main_con ul li a dl dt span,.main_con ul li a dl dt p{position:absolute;bottom:13px;left:13px;display:none;z-index:1;}
.main_con ul li a dl dt em{width:40px;height:auto;display:block;position:absolute;top:0;left:0;}
.main_con ul li a dl dt em img{width:40px;height:40px;}


.main_con ul li a dl dd{width:260px;height:auto;padding:0 13px;overflow:hidden; text-overflow:ellipsis;white-space: nowrap;}
.main_con ul li a dl .dd1{height:36px;font-size:20px;color:#4f4f4f;line-height:36px;margin-top:5px;}
.main_con ul li a dl .dd2{height:20px;line-height:20px;font-size:16px;color:#8b8b8b;}
.main_con ul li a dl .dd3{height:40px;margin-top:5px;}
.main_con ul li a dl .dd3 em{font-size:16px;color:#c22936;}
.main_con ul li a dl .dd3 span{font-size:28px;color:#c22936;}
.main_con ul li a dl .dd4 .pro_bar{height:8px;width:162px;border:1px solid #FFCA00;margin-top:7px;float:left;margin-right:10px; border-radius:5px;}
.main_con ul li a dl .dd4 .bar_con{height:8px;background:#FFCA00;border-radius:5px;}
.main_con ul li a dl .dd4 p{float:left;font-size:16px;color:#8b8b8b;}


.main_con ul li.hover{border:1px solid #FFCA00;}
.main_con ul li.hover a dl dt{border-bottom:2px solid #FFCA00;}

/*我的券*/
.my_stamps{width:148px;height:110px;background:url(../images/new_index_my_stamps.png) no-repeat;position:fixed;top:160px;right:30px;padding-top:50px;z-index:2;display:none;}
.my_stamps ul{width:126px;padding:0 10px;}
.my_stamps ul li{height:36px;width:124px;white-space: nowrap;line-height:36px;font-size:14px;color:#1c1c1e;border-bottom:1px solid #c1c1c1;overflow:hidden;}
.my_stamps ul li:last-child{border:none;}
.my_stamps ul li.col{color:#FFCA00}


.footer{width:100%;height:210px;background:#000;margin-top:50px;}

