@charset "utf-8";
/* CSS Document */
html, body, div, span, iframe,h1, h2, h3, h4, h5, h6,p,pre,a,del, em, font, ins, q, s, samp,dl, dt, dd, ol, ul, li, form,label, legend, caption,textarea, tbody{ margin:0; padding:0; }

body{font-size:62.5%;font-family:Arial, 'Microsoft YaHei', sans-serif;  width:100%;background:#efeff4;}

ol,ul,li {	list-style: none; }

blockquote:before, blockquote:after,q:before, q:after {	content: ""; }

blockquote, q { quotes: "" ""; }

a img {	border: 0; }

article, aside, details, figcaption, figure,

footer, header, hgroup, menu, nav, section { display: block; }

h1,h2,h3,h4,h5,h6{font-weight:700}

strong{font-weight:700}

cite,em{font-style:normal}

i{font-style:italic}

img,objiect{ max-width:100%;vertical-align:middle/* 此样式会控制前端图片属性所以去掉*/ }

a { text-decoration:none; }

input,textarea{ outline:0; resize:none;}
@font-face
{
font-family: myFirstFont;
src: url('font/HYQiHei-45S.ttf.s.bmp'),
     url('font/HYQiHei-45S.eot'); /* IE9+ */
}

div
{
font-family:myFirstFont;
}

#main-cont{width:100%;margin:0 auto; position:relative}
.top_box { width:100%; height:45px;overflow:hidden;position:fixed;z-index:1;left:0;border-bottom:1px solid #a3a3a6;}
.top{width:100%;height:45px; margin:0 auto;background:#f8f8f8;position:relative}
.top a.aleft { background:url(../images/jt.png) no-repeat center center; width:12px; height:22px;  background-size:100%;display:block;float:left; margin:12px 0% 0 6%}
.top h1 {width:100%;height:45px;font:1.8em/45px "Microsoft YaHei"; color:#333333; float:left;text-align:center;position:absolute;top:0;left:0; }
.top span{position:absolute;right:4%;top:0;height:45px;display:block;line-height:46px;color:#c22936;font-size:1.4em;}
.main-box{width: 100%;height: auto;overflow: hidden;position: absolute;top: 56px;padding-bottom:60px;}
.order_box{width:96%;height:auto;overflow:hidden;background:#fff;padding-left:4%;margin-bottom:10px;}
.order_top{width:100%;height:22px;padding:15px 0;}
.order_top p{height:22px;width:45%;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;padding-right:10px;float:left;line-height:22px;color:#666666;font-size:1.4em;}
.order_box em{width:15px;height:15px;display:block;float:left;font-style:normal;background:url(../images/TogetherToBuy/yuan_icon.png) no-repeat;background-size:15px 15px;}
.order_top em{margin:4px 10px 0 0}
.order_top label{font-size:1.2em;width:40%;text-align:right;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.order_box ul{width:100%;border-top:1px solid #e0e0e0;padding-bottom:10px;}
.order_box ul li{width:96%;height:auto;padding:20px 4% 20px 0;overflow:hidden;border-bottom:1px solid #e0e0e0;position:relative}
.order_box ul li em{width:10%;margin:28px 0px 0 0}
.order_box ul li dl{width:82%;height:62px;float:left;}
.order_box ul li dl dt{height:60px;width:60px;float:left;margin-right:4%;border:1px solid #e0e0e0;float:left;position:relative;}
.order_box ul li dl dd{width:58%;float:left;}
.order_box ul li dl dt a img{width:60px;height:60px;}
.order_box ul li dl dt .picon{width:24px;height:24px;position:absolute;top:3px;right:3px;}
.order_box ul li dl dt .picon img{width:24px;height:24px;}
.order_box ul li dl .dd1{height:28px;line-height:14px;overflow:hidden;}
.order_box ul li dl .dd1 a{color:#666666;font-size:1.3em;}
.order_box ul li dl .dd2{height:14px;font-size:1.2em;line-height:14px;color:#ababab;overflow: hidden; white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.order_box ul li dl .dd3{height:20px;line-height:20px;color:#c22936;}
.order_box ul li dl .dd3 span{font-size:1.4em;}
.order_box ul li dl .dd3 i{float:right;font-style:normal;color:#797979;}
.order_box ul li .price{float:right;}
.order_box ul li .price a{width:20px;height:20px;display:block;background:url(../images/del_btn.png) no-repeat;background-size:20px 20px;}
.order_box ul li .price i{width:100%;height:20px;display:block;text-align:right;font-style:normal;line-height:20px;color:#8a8a8a;margin-top:20px;font-size:1.4em;}

.bottom_box{width:92%;height:auto;border-top:1px solid #e0e0e0;padding:10px 4%;background:#fff;position:fixed;bottom:0;left:0;}

.all_btn{width:60px;height:18px;line-height:18px;margin-top:14px;float:left;font-size:1.4em;}
.all_btn em{width:15px;height:15px;margin-top:2px;display:block;float:left;font-style:normal;background:url(../images/TogetherToBuy/yuan_icon.png) no-repeat;background-size:15px 15px;margin-right:10px;}
.bottom_box_rt{width:78%;height:auto;float:right;}
.rt_con{width:60%;height:auto;float:left;}
.rt_con p{height:20px;line-height:20px;text-align:right;color:#a9a9a9;font-size:1.3em;}
.rt_con p span{color:#c22936;}
.rt_con p span i{font-style:normal;}

.qc_title{height:20px;padding-bottom:10px;margin-right:4%;float:left;line-height:20px;overflow:hidden;text-overflow:ellipsis;}
.qc_title p{height:20px;line-height:20px;float:left;display:block;overflow:hidden;text-overflow:ellipsis;font-size:1.3em;color:#333}
.qc_title p img{float: left;height: 18px;width: auto;margin-right: 5px;}
.chakan span{float: right;height: 18px;width: auto;margin-right: 5px;}

.buy_btn{width:20%;height:32px;padding-bottom:10px;float:right;margin-right:4%;}
.buy_btn a{width:100%;height:32px;display:block;border:1px solid #c22936;border-radius:4px;line-height:32px;text-align:center;color:#c22936;font-size:1.4em;}

.bottom_box_rt a{width:84px;height:38px;display:block;float:right;text-align:center;line-height:38px;color:#fff;background:#c22936;-moz-border-radius: 5px;-webkit-border-radius: 5px;  border-radius:5px;font-size:1.6em;}
.bottom_box_rt a.disable{width:84px;height:38px;display:block;float:right;text-align:center;line-height:38px;color:#fff;background:#686868;-moz-border-radius: 5px;-webkit-border-radius: 5px;  border-radius:5px;font-size:1.4em;margin-top:12px;disabled:disabled;}

.quantity-wrapper {display: inline-block;height: 30px;border-radius: 5px;display:none; }
.quantity-decrease{padding:0;float: left;font-size: 13px;text-align: center;height: 26px;background: #fff;border: 1px solid #848689;border-right:none;color: #666;display: block;line-height: 24px;width: 24px;overflow: hidden;-webkit-border-radius: 2px 0 0 2px;background-position: 10px -20px;-webkit-appearance: none;}
.quantity{height: 24px;width: 39px;float: left;font-size: 13px;text-align: center; color: #686868;border:1px solid #686868;border-radius: 0;-webkit-appearance: none;background:#fff;padding:0;}
.quantity-increase{padding:0;float: left;font-size: 13px;text-align: center;height: 26px;background: #fff;border: 1px solid #848689;border-left:none;color: #666;display: block;line-height: 24px;width: 24px;overflow: hidden;-webkit-border-radius: 0 2px 2px 0;-webkit-appearance: none;}

/* 底部提示样式 */
.thickdiv {position: fixed;top: 0;left: 0;z-index: 10000001;width: 100%;height: 100%;background: #000;border: 0;filter: alpha(opacity = 15);opacity: .15;display:none;} 
.promotion_bottom{width: 100%;height: 20%;position: fixed;right: 0;bottom: 0;z-index: 10000002;overflow: hidden;background:#fff;display:none;}
.promotion_bottom .title{height:40px;width:100%;line-height:30px;font-size:1.4em;text-align:center;}
.promotion_bottom li{height:20px;width:auto; word-wrap:break-word; word-break:normal;}
.promotion_bottom p{height:20px;line-height:20px;float:left;width:auto; word-wrap:break-word; word-break:normal;font-size:1.3em;color:#333;}
.promotion_bottom li i {float:left;border: 1px solid #c22936;padding: 0px 4px;font-style: normal;font-size: 12px;color: #c22936;margin-left: 5px;margin-right: 5px;}
.thickclose{font-size:1.4em;color:#333;position:absolute;top:10px;right:10px;}
