@charset "utf-8";
/* CSS Document */
html, body, div, span, iframe,h1, h2, h3, h4, h5, h6,p,pre,a,del, em, font, ins, q, s, samp,dl, dt, dd, ol, ul, li, form,label, legend, caption,textarea, tbody{ margin:0; padding:0; }

body{font-size:62.5%;font-family:Arial, 'Microsoft YaHei', sans-serif;  width:100%;background:#f9dfaa;}

ol,ul,li {	list-style: none; }

blockquote:before, blockquote:after,q:before, q:after {	content: ""; }

blockquote, q { quotes: "" ""; }

a img {	border: 0; }

article, aside, details, figcaption, figure,

footer, header, hgroup, menu, nav, section { display: block; }

h1,h2,h3,h4,h5,h6{font-weight:700}

strong{font-weight:700}

cite,em{font-style:normal}

i{font-style:italic}

img,objiect{ max-width:100%;vertical-align:middle/* 此样式会控制前端图片属性所以去掉*/ }
area{outline:none;}
a { text-decoration:none;border:none;-webkit-tap-highlight-color:transparent;outline:none;-webkit-touch-callout: none;-webkit-user-select: none; }
a:focus {outline:none; -moz-outline:none}
input,textarea{ outline:none; resize:none;-webkit-appearance:none;}

.header{width:100%;height:695px;margin:0 auto;}
.header .banner{width:100%;}
.header .banner1_bg{height:119px;background:url(../images/summer/pc_banner1_bg.png) no-repeat top center;}
.header .banner2_bg{height:111px;background:url(../images/summer/pc_banner2_bg.png) no-repeat top center;}
.header .banner3_bg{height:140px;background:url(../images/summer/pc_banner3_bg.png) no-repeat top center;}
.header .banner4_bg{height:192px;background:url(../images/summer/pc_banner4_bg.png) no-repeat top center;}
.header .banner5_bg{height:144px;background:url(../images/summer/pc_banner5_bg.png) no-repeat top center;}
.header .banner1,.header .banner2,.header .banner3,.header .banner4,.header .banner5{width:1200px;margin:0 auto;}


.mainbody{width:1200px;height:auto;overflow:hidden;margin:0 auto}
.footer{width:100%;height:321px;background:url(../images/summer/pc_footer_bg.png) no-repeat top center;}
.footer_con{width:1200px;height:321px;margin:0 auto;}










