@var userOffice = office.getUserOfficeList(); //用户持有的机构
@var userRoles = role.getUserRoleList(); //用户角色
<div class="tab-content">
		<div id="order_home" class="tab-pane active clearfix">
			<#search>
				<form action="${ctxPath}/entBenefitAppr/list" method="post" id="search-form" target="list-page" class="center clearfix">
					<input type="hidden" value="${status!}" name="viewStatus">
					<div class="container row col-md-12 col-sm-12">
						<div class="col-md-3 col-sm-2">
								<label>排序：</label>
								<#select name="order" id="order"  width="40%">
									<option value="ASC">时间正序</option>
									<option value="DESC">时间倒序</option>
								</#select>
						</div>
						<div class="col-md-3 col-sm-2">
								<label>筛选：</label>
								<#select name="status" id="status"  width="35%">
									<option value="">全部</option>
									<option value="1">未发放</option>
									<option value="2">已发放</option>
									<option value="3">拒发放</option>
								</#select>
																
								@if(!isEmpty(mlist)){
								<select name="managerId">
									<option value="-1">招商经理</option>
									@for(item in mlist){
									<option value="${item.id! }">${item.name! }</option>
									@}
								</select>
								@}
						</div>
						<div class="col-md-6 col-sm-8">
							<label>创建日期：</label>
							<input type="text" id="startDate" name="startDate">
							<label>-</label>
							<input type="text" id="endDate" name="endDate">
							&nbsp;&nbsp;
						</div>
					</div>
					<div class="padding-trb-10 col-md-12">
						<span class="btn btn-info btn-sm col-md-12" id="search-btn"> 查 询</span>
					</div>
				</form>
			</#search>
			<div class="space-6"></div>
			<div id="list-page"></div>
		</div>
	</div>
<style>
#profile .center>label{width: 100px;text-align: right;}
</style>
<script>
	laydate({
	    elem: '#startDate',
	    format: 'YYYY-MM-DD', // 分隔符可以任意定义，该例子表示只显示年月
	});
	laydate({
	    elem: '#endDate',
	    format: 'YYYY-MM-DD', // 分隔符可以任意定义，该例子表示只显示年月
	});
	$("#role-select").chosen({width: "80%",search_contains: true});
	$("#role-choose").chosen({width: "100%",search_contains: true}); 
	$("#search-form").getPageList({'submitBtnId':'search-btn'});
</script>
