<table class="table table-hover table-bordered">
   <tbody>
      <tr>
         <td>企业名称</td>
         <td>${enterprise.name!}</td>
      </tr>
      <tr>
         <td class="bigger-120">企业类型</td>
         <td class="bigger-120">${enterprise.typeName!}</td>
      </tr>
      <tr>
         <td>所属行业</td>
         <td>${enterprise.industryName!}</td>
      </tr>
      <tr>
         <td>上市企业</td>
         <td>${enterprise.listed!}</td>
      </tr>
      <tr>
         <td>年营业额（万元）</td>
         <td>${enterprise.turnover!}</td>
      </tr>
      <tr>
         <td>企业人数（人）</td>
         <td>${enterprise.peopleNumber!}</td>
      </tr>
       <tr>
         <td>企业实际人数（人）</td>
         <td>${peopleNumber!}</td>
      </tr>
      <tr>
         <td>本季度发放的福利</td>
         <td>${curTotal!}</td>
      </tr>
   </tbody>
</table>