@var userOffice = office.getUserOfficeList(); //用户持有的机构
@var userRoles = role.getUserRoleList(); //用户角色
<div class="tab-content">
		<div id="order_home" class="tab-pane active clearfix">
			<#search>
				<form action="${ctxPath}/searchKey/list" method="post" id="search-form" target="list-page" class="center clearfix">
					<input type="hidden" name="viewStatus" value="${status!}">
					<div class="row col-sm-12">
						<div class="col-sm-4">
							<label>关键字：</label>
							<input type="text" name="searchKey">
						</div>
						<div class="col-sm-4">
							<label>日期：</label>
							<input type="text" id="startDate" name="startDate">
							<label>-</label>
							<input type="text" id="endDate" name="endDate">
							&nbsp;&nbsp;							
						</div>
						<div class="col-sm-4">
							<label>排序方式：</label>
							<select name="sortColumns">
								<option value="search_cnt DESC">搜索次数</option>
								<option value="hits_cnt DESC">命中商品数 倒序</option>
								<option value="hits_cnt ASC">命中商品数 升序</option>
								<option value="avg_score DESC">关键字命中率 倒序</option>
								<option value="avg_score ASC">关键字命中率 升序</option>
								<option value="else1_cnt DESC">常用程度</option>
							</select>
						</div>
					</div>
					<div class="padding-trb-10 col-sm-12">
							<span class="btn  btn-primary btn-sm col-sm-6" onclick="$curmenu.trigger('click');">全部</span>
							<span class="btn btn-info btn-sm col-sm-6" id="search-btn">查询</span>
							
						</div>
				</form>
			</#search>
			<div class="space-6"></div>
			<div id="list-page"></div>
		</div>
	</div>
<style>
#profile .center>label{width: 100px;text-align: right;}
</style>
<script>
	laydate({
	    elem: '#startDate',
	    format: 'YYYY-MM-DD', // 分隔符可以任意定义，该例子表示只显示年月
	});
	laydate({
	    elem: '#endDate',
	    format: 'YYYY-MM-DD', // 分隔符可以任意定义，该例子表示只显示年月
	});
	$("#search-form").getPageList({'submitBtnId':'search-btn'});
</script>
