@charset "utf-8";
/*footer*/
/*footer begin*/
#footer { width:100%; background:#4a4a4a; margin:30px auto 0; height:215px;clear:both }
.footer_box { width:990px; margin:0 auto; padding:30px;}
.footer_list { width:914px; margin:0 auto; overflow:hidden; }
.footer_list li { float:left; margin:0 17px; }
.footer_list li a:link { font:13px "Microsoft YaHei"; color:#fff; }
.footer_list li a:visited { font:13px "Microsoft YaHei"; color:#fff; }
.footer_list li a:hover { font:13px "Microsoft YaHei"; color:#ff6161; }
.copyright { width:1030px; margin:22px auto 0; overflow:hidden; }
.copyright li { float:left; margin-right:48px; }
.copyright li p { font:13px/22px "Microsoft YaHei"; color:#959595; }
.footer_info { width:498px; margin:30px auto 0; overflow:hidden; text-align:center; }
.footer_info a:link,.footer_info a:visited{color:#959595}
.footer_info li { float:left; height:30px; border:1px solid #959595; cursor:pointer; padding:4px 22px 14px; *padding-bottom:16px; margin-right:20px; border-radius:8px; behavior:url(iecss3/PIE.htc); position:relative; z-index:2; }
.foter{text-align:center;color:#959595;padding-top:25px;}
.foter span{padding:20px;}
