.r-newReturnProcess-step{ width:916px; height:59px; margin:0 auto; background-image:url(../images/order_nav_img_new.png); }
.r-newReturnp1 { background-position:0 -1.5px;}
.r-newReturnp0 { background-position:0 -64px; }
.r-newReturnp2 { background-position:0 -125px; }
.r-newReturnp3 { background-position:0 -184px; }
.r-newReturnp4 { background-position:0 -245px; }
.r-newReturnp6 { background-position:0 -307px; }
.r-newReturnp5 { background-position:0 -367px; }
.flow_btn {cursor: pointer;background: url(../images/factory_img1.png) no-repeat -80px -272px;width: 121px;height: 20px;margin: 10px auto 0;}