@var userOffice = office.getUserOfficeList(); //用户持有的机构
@var userRoles = role.getUserRoleList(); //用户角色
<div class="tab-content">
		<div id="order_home" class="tab-pane active clearfix">
			<#search>
				<form action="${ctxPath}/acticity/prizeList" method="post" id="search-form" target="list-page" class="center clearfix">
					<div class="row padding-tb-10 col-sm-12">
						<div class="col-sm-4">
							<label>奖品名称：</label>
								<input type="text" name="prizeName" id="">
						</div>
						<div class="col-sm-4">
						<label>奖品等级：</label>
							<select name="prizeGrade" width="45%">
								<option value="">全部</option>
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
						</div>
						<div class="col-sm-4">
							<label>活动名称：</label>
							@if(!isEmpty(mlist)){
							<select name="acticityId" width="45%">
								<option value="">全部</option>
								@for(item in mlist){
									<option value="${item.id! }" ${acticityId == item.id?"selected":"" }>${item.eventTitle! }</option>
								@}
							</select>
						@}
						</div>
					</div>
					<div class="padding-trb-10 col-sm-12">
						<span class="btn  btn-primary btn-sm col-sm-6" onclick="$curmenu.trigger('click');">全部</span>
						<span class="btn btn-info btn-sm col-sm-6" id="search-btn">查询</span>
					</div>
				</form>
			</#search>
			<div class="space-6"></div>
			<div id="list-page"></div>
		</div>
	</div>
<style>
#profile .center>label{width: 100px;text-align: right;}
</style>
<script>
$("#role-select").chosen({width: "80%",search_contains: true});
$("#role-choose").chosen({width: "100%",search_contains: true}); 
$("#search-form").getPageList({'submitBtnId':'search-btn'});
</script>