@var userOffice = office.getUserOfficeList(); //用户持有的机构
@var userRoles = role.getUserRoleList(); //用户角色
<div class="tab-content">
		<div id="order_home" class="tab-pane active clearfix">
			<#search>
				<form action="${ctxPath}/productCategory/listPCount" method="post" id="search-form" target="list-page" class="center clearfix">
					<input type="hidden" name="viewStatus" value="${status!}">
					<div class="row padding-tb-10 col-sm-12">
						<div class="col-sm-4">
								<label>品类：</label>
								<select id="rootId" name="rootId" onchange="toRedict(1,this)" >
									<option value="">一级分类</option>
									@for(item in root){
									<option value="${item.id! }">${item.name! }</option>
									@}
		      					</select>
								
								<select id="pid" name="pid" onchange="toRedict(2,this)" >
									<option value="" selected>二级分类</option>
		      					</select>
								<select id="id" name="id">
									<option value="" selected>三级分类</option>
		      					</select>
						</div>
						<div class="col-sm-4">
							<label>商品上传：</label>
							<select name="pCnt">
								<option value="">全部</option>
								<option value="1" selected="selected">已上传</option>
								<option value="0">未上传</option>
							</select>
						</div>
				<div style="width:100px;float: right;margin-right: 40px;margin-top: -20px" onclick="exportExcel()">
					<span class="btn fa fa-file-excel-o" id="excel-btn">&nbsp;&nbsp;导出EXCEL</span>
				</div>
					</div>
					<div class="padding-trb-10 col-sm-12">
							<span class="btn  btn-primary btn-sm col-sm-6" onclick="$curmenu.trigger('click');">全部</span>
							<span class="btn btn-info btn-sm col-sm-6" id="search-btn">查询</span>
							
						</div>
				</form>
			</#search>
			<div class="space-6"></div>
			<div id="list-page"></div>
		</div>
	</div>
<style>
#profile .center>label{width: 100px;text-align: right;}
</style>
<script>
	$("#role-select").chosen({width: "80%",search_contains: true});
	$("#role-choose").chosen({width: "100%",search_contains: true}); 
	$("#search-form").getPageList({'submitBtnId':'search-btn'});
	
	function exportExcel() {
		var action,target;
		var thisform=document.getElementById('search-form');
		action=thisform.action;
		target=thisform.target;
		
		thisform.action="${ctxPath}/productCategory/exportPExcel";
		thisform.target="_blank";
		thisform.submit();
		
		thisform.action=action;
		thisform.target=target;
	}
	

	function toRedict(deep,obj) {
		clearChildren(deep);
		var pid = $(obj).val();
		if(pid=="") {
			return;
		}
		var select=$("#id");
		if(deep==1) {
			select=$("#pid");
		}
		
		$.ajax( {  
		    url:'${ctxPath}/productCategory/getChichdren?pid='+pid,
		    contentType:'application/json',
		    dataType:'json',
		    success:function(data) {
		    	for(var i =0;i<data.length;i++){
		    		select.append("<option value='"+data[i].id+"'>"+data[i].name+"</option>");
		    	} 
		    	select.get(0).selectedIndex=0;
		    },  
		     error : function() {  
		     }  
		});
		
	}
	
	function clearChildren(deep) {
		$("#id option").remove();
		$("#id").append("<option value=''>三级分类</option>");
		
		if(deep==1) {
			$("#pid option").remove();
			$("#pid").append("<option value=''>二级分类</option>");
		}
		
	}
</script>
