<div id="userDayStatistical_parentDiv">
	<div class="tab-content">
	<div id="home" class="tab-pane clearfix active">
	<div class="">
	<label>开始：</label>
	<input type="text" id="day_search_startTime"><label>&nbsp;&nbsp;结束：</label><input type="text" id="day_search_endTime">
	&nbsp;&nbsp;
	<span id="search-btn" class="btn btn-info btn-sm ">查 询</span>
	</div>
	</div>
	</div>
	<div class="pull-left width-30">
	</div>
	<div id="dayStatistical" style="height: 400px">
	</div>
</div>
	<input type="hidden" value="${dayInfo.dayPv!}" id="dayPv">
	<input type="hidden" value="${dayInfo.dayCart!}" id="dayCart">
	<input type="hidden" value="${dayInfo.dayOrder!}" id="dayOrder">
	<input type="hidden" value="${dayInfo.daySearch!}" id="daySearch">
	<input type="hidden" value="${dayInfo.date!}" id="date">
	<script type="text/javascript">
	laydate({
	    elem: '#day_search_startTime',
	    format: 'YYYY-MM-DD', // 分隔符可以任意定义，该例子表示只显示年月
	    /* choose: function(datas){ //选择日期完毕的回调
	        alert('得到：'+datas);
	    } */
	});
	laydate({
	    elem: '#day_search_endTime',
	    format: 'YYYY-MM-DD', // 分隔符可以任意定义，该例子表示只显示年月
	    /* choose: function(datas){ //选择日期完毕的回调
	        alert('得到：'+datas);
	    } */
	});
	</script>
<script type="text/javascript">
	$(document).ready(function(){
		baidu_echarts_day();
		/*按时间搜索*/
		$("#search-btn").click(function(){
			var $target = $("#userDayStatistical_parentDiv");
			var spinner;
			$.ajax({
				"dataType":'json',
				"type":'POST',
				"data":{"startTime":$("#day_search_startTime").val(),"endTime":$("#day_search_endTime").val()},
				"url":'${ctxPath!}/pvDayStatistical/daySearch',
				beforeSend : function(){
					spinner = new Spinner({color: '#3d9bce',width:20,radius:20}).spin($target[0]);
				},
				success:function(da){
					$("#dayPv").val(da.dayPv);
					$("#dayCart").val(da.dayCart);
					$("#dayOrder").val(da.dayOrder);
					$("#daySearch").val(da.daySearch);
					$("#date").val(da.date);
					//关闭spinner  
                    spinner.spin();
					baidu_echarts_day();
					
				}
			});
						
		});
	/*百度统计方法*/
	function baidu_echarts_day(){
		var da = $("#date").val();
		var dayPv = $("#dayPv").val();
		var dayCart = $("#dayCart").val();
		var dayOrder = $("#dayOrder").val();
		var daySearch = $("#daySearch").val();
		var m = $("#month").val();
		// 基于准备好的dom，初始化echarts图表
		var myChart = echarts.init(document.getElementById('dayStatistical'));
		var option = {
			tooltip : {
				trigger : 'axis'
			},
			legend : {
				data : [ '日访问量', '日入车量', '日订单量' , '搜素量' ]
			},
			toolbox : {
				show : true,
				feature : {
					magicType : {
						show : true,
						type : [ 'line', 'bar' ]
					},
				}
			},
			calculable : true,
			xAxis : [ {
				type : 'category',
				boundaryGap : true,
				data : da.split(",")
			} ],
			yAxis : [ {
				type : 'value',
				axisLabel : {
					formatter : '{value}'
				}
			} ],
			series : [ {
				name : '日访问量',
				type : 'line',
				data : dayPv.split(","),
			}, {
				name : '日入车量',
				type : 'line',
				data : dayCart.split(","),
			} , {
				name : '日订单量',
				type : 'line',
				data : dayOrder.split(","),
			} , {
				name : '搜素量',
				type : 'line',
				data : daySearch.split(","),
			} ]
		};
		// 为echarts对象加载数据 
		myChart.setOption(option);
	}
	
	});
</script>
