<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper         PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"         "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="InvoiceMapper">

	<resultMap id="Invoice" type="com.wode.factory.model.Invoice">
        <result property="id" column="id"/>
        <result property="userId" column="userId"/>
        <result property="title" column="title"/>
        <result property="type" column="type"/>
        <result property="isDefault" column="is_default"/>
        <result property="billType" column="billType"/>
		<result property="taxpayerNumber" column="taxpayerNumber"/>
		<result property="registerAddress" column="registerAddress"/>
		<result property="registerPhone" column="registerPhone"/>
		<result property="openingBan" column="openingBan"/>
		<result property="openingBanNumber" column="openingBanNumber"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		id,userId,title,type,is_default,billType,taxpayerNumber,
        registerAddress,registerPhone,openingBan,openingBanNumber
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO t_invoice (
        	id ,
        	userId ,
        	title ,
        	type ,
        	is_default,
            billType,
            taxpayerNumber,
	        registerAddress,
	        registerPhone,
	        openingBan,
	        openingBanNumber 
        ) VALUES (
        	#{id} ,
        	#{userId} ,
        	#{title} ,
        	#{type} ,
        	#{isDefault},
             #{billType},
            #{taxpayerNumber},
	        #{registerAddress},
	        #{registerPhone},
	        #{openingBan},
	        #{openingBanNumber} 
        )
    ]]>
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    
	<update id="update" >
    <![CDATA[
        UPDATE t_invoice SET
	        userId = #{userId} ,
	        title = #{title} ,
	        type = #{type} ,
	        is_default = #{isDefault},
            billType = #{billType},
            taxpayerNumber = #{taxpayerNumber},
	        registerAddress = #{registerAddress},
	        registerPhone = #{registerPhone},
	        openingBan = #{openingBan},
	        openingBanNumber = #{openingBanNumber} 
        WHERE 
	        id = #{id} 
    ]]>
	</update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM t_invoice WHERE
        id = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultMap="Invoice">
		SELECT <include refid="columns" />
	    <![CDATA[
		    FROM t_invoice 
	        WHERE 
		        id = #{id} 
	    ]]>
	</select>
	
	<select id="findByQuery" resultMap="Invoice" parameterType="com.wode.factory.user.query.InvoiceQuery">
    	SELECT <include refid="columns" />
	    FROM t_invoice 
		<include refid="findPage_where"/>
    </select>
	<select id="findByUserId" resultMap="Invoice">
    	SELECT <include refid="columns" />
	    FROM t_invoice where userId = #{userId} ORDER BY is_default desc
    </select>
    <select id="findPage_count" resultType="long">
        SELECT count(*) FROM t_invoice 
		<include refid="findPage_where"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findPage" resultMap="Invoice">
    	SELECT <include refid="columns" />
	    FROM t_invoice 
		<include refid="findPage_where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
	<sql id="findPage_where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
	       <if test="@Ognl@isNotEmpty(id)">
				AND id = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(userId)">
				AND userId = #{userId}
			</if>
	       <if test="@Ognl@isNotEmpty(title)">
				AND title = #{title}
			</if>
	       <if test="@Ognl@isNotEmpty(type)">
				AND type = #{type}
			</if>
	       <if test="@Ognl@isNotEmpty(isDefault)">
				AND is_default = #{isDefault}
			</if>
		</where>
	</sql>
	
</mapper>

