@var userOffice = office.getUserOfficeList(); //用户持有的机构
@var userRoles = role.getUserRoleList(); //用户角色
<div class="tab-content">
		<div id="order_home" class="tab-pane active clearfix">
			<#search>
				<form action="${ctxPath}/orderList/listFinance" method="post" id="search-form" target="list-page" class="center clearfix">
					<input type="hidden" name="durationKey" value="201,211,221">
					<input type="hidden" name="financeSearch" value="1">
					<input type="hidden" name="viewStatus" value="${status!}">
					<div class="row col-sm-12">
						<div class="col-sm-4">
							<label>订单状态：</label>
								<input type="checkbox" value="0" name="status" id="status0"><label for="status0">未支付</label>
								<input type="checkbox" value="1" name="status" id="status1" checked="checked"><label for="status1">已支付</label>
								<input type="checkbox" value="2" name="status" id="status2"><label for="status2">已发货</label>
								<input type="checkbox" value="4" name="status" id="status4"><label for="status4">已收货</label> <br />
								<input type="checkbox" value="3" name="status" id="status3"><label for="status3">申请退货</label>
								<input type="checkbox" value="5" name="status" id="status5"><label for="status5">申请退款</label>
								<input type="checkbox" value="11" name="status" id="status11"><label for="status11">已退货</label>
								<input type="checkbox" value="12" name="status" id="status12"><label for="status12">已退款</label>
								<input type="checkbox" value="-1" name="status" id="status-1"><label for="status-1">已取消</label>
						</div>
						<div class="col-sm-4">
							<label>订单id：</label>
							<input type="text" id="subOrderId" name="subOrderId">
							<label>支付流水：</label>
							<input type="text" id="thirdNo" name="thirdNo">
						</div>
						<div class="col-sm-4">
							<label>商家：</label>
							<#select name="supplierId" width="70%">
								<option value="">全部</option>
								@for(item in supplierList){
								<option value="${item.id! }">${item.comName! }</option>
								@}
							</#select>							
						</div>
						<div style="width:100px;float: right;margin-right: 10px;margin-top: -30px" onclick="exportExcel()">
							<span class="btn fa fa-file-excel-o" id="excel-btn">&nbsp;&nbsp;导出订单</span>
						</div>
					</div>
					<div class="row col-sm-12">
						<div class="col-sm-4">
							<label>支付日期：</label>
							<input type="text" id="startPayTime" name="startPayTime">
							<label>-</label>
							<input type="text" id="endPayTime" name="endPayTime">
							&nbsp;&nbsp;
						</div>
						<div class="col-sm-4">
							<label>取消日期：</label>
							<input type="text" id="startCancelDate" name="startCancelDate">
							<label>-</label>
							<input type="text" id="endCancelDate" name="endCancelDate">
							&nbsp;&nbsp;
						</div>
						<div class="col-sm-4">
							<label>对账状态：</label>
							<select name="payConfirm">
								<option value="">到款状态</option>
								<option value="0">未到款</option>
								<option value="1">已到款</option>
							</select>
							<select name="closeFlg">
								<option value="">账单</option>
								<option value="0">未出账</option>
								<option value="2">已出账</option>
							</select>
							<select name="thirdType">
								<option value="">支付方式</option>
								<option value="zhifubao">支付宝</option>
								<option value="wxpay">微信</option>
								<option value="unionpay">银联</option>
								<option value="pingtaiyue">现金券</option>
							</select>
							<select name="purchasedStatus" id="purchasedStatus">
								<option value="">换领状态</option>
								<option value="3">换领单</option>
								<option value="0">含现金</option>
							</select>
						</div>
					</div>
					<div class="padding-trb-10 col-sm-12">
						<span class="btn  btn-primary btn-sm col-sm-6" onclick="$curmenu.trigger('click');">全部</span>
						<span class="btn btn-info btn-sm col-sm-6" id="search-btn">查询</span>
					</div>
				</form>
			</#search>
			<div class="space-6"></div>
			<div id="list-page"></div>
		</div>
	</div>
<style>
#profile .center>label{width: 100px;text-align: right;}
</style>
<script>
	laydate({
	    elem: '#startCancelDate',
	    format: 'YYYY-MM-DD', // 分隔符可以任意定义，该例子表示只显示年月
	});
	laydate({
	    elem: '#endCancelDate',
	    format: 'YYYY-MM-DD', // 分隔符可以任意定义，该例子表示只显示年月
	});
	laydate({
	    elem: '#startPayTime',
	    format: 'YYYY-MM-DD', // 分隔符可以任意定义，该例子表示只显示年月
	});
	laydate({
	    elem: '#endPayTime',
	    format: 'YYYY-MM-DD', // 分隔符可以任意定义，该例子表示只显示年月
	});
	$("#role-select").chosen({width: "80%",search_contains: true});
	$("#role-choose").chosen({width: "100%",search_contains: true}); 
	$("#search-form").getPageList({'submitBtnId':'search-btn'});
	
	function exportExcel() {
		var action,target;
		var thisform=document.getElementById('search-form');
		action=thisform.action;
		target=thisform.target;
		
		thisform.action="${ctxPath}/orderList/exportExcelFinance";
		thisform.target="_blank";
		thisform.submit();
		
		thisform.action=action;
		thisform.target=target;
	}
</script>
