<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>我的网平台商家对账单</title>

		<meta name="description" content="login" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<link rel="stylesheet" href="${ctxPath!}/static/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="${ctxPath!}/static/css/font-awesome.min.css" />

		<link rel="stylesheet" href="${ctxPath!}/static/ace/css/ace.min.css" />

		<link rel="stylesheet" href="${ctxPath!}/static/ace/css/ace-rtl.min.css" />

		<script src="${ctxPath!}/static/jquery/jquery-2.1.1.min.js"></script>
	</head>

	<body class="">
<div class="layer">
<div class="profile-user-info profile-user-info-striped" id="order_home">
	<div class="profile-info-row">
		<div class="profile-info-name">订单ID</div>
		<div class="profile-info-value">
			${vo.subOrderId!}
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">订单类型</div>
		<div class="profile-info-value">
			@if(vo.orderType=="1"||vo.orderType=="4"){
				团购订单
			@}else if(vo.orderType=="5"){
				换领订单
			@}else {
				普通订单
			@}
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">创建时间</div>
		<div class="profile-info-value">
			${vo.createTime!,dateFormat="yyyy-MM-dd HH:mm:ss"}
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">运费</div>
		<div class="profile-info-value">
			￥${vo.totalShipping!}
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">应收金额</div>
		<div class="profile-info-value">
			￥${vo.realPrice!}
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">实收金额</div>
		<div class="profile-info-value">
			￥${vo.cashPay!}+${vo.thirdPay!} 
			@if(vo.orderType=="1"||vo.orderType=="4"){
			&nbsp;
			@}else{
				@if(vo.cashPay>0){
				现金券 &nbsp;(${vo.cashNo!})
				@}
				&nbsp;&nbsp;&nbsp;&nbsp;
				@if(vo.thirdPay>0){
					@if(vo.thirdType=='zhifubao'){
					支付宝&nbsp;(${vo.thirdNo!})
					@}else if(vo.thirdType=='pingtaiyue'){
					现金券&nbsp;(${vo.thirdNo!})
					@}else if(vo.thirdType=='wxpay'){
					微信&nbsp;(${vo.thirdNo!})
					@}else if(vo.thirdType=='unionpay'){
					银联&nbsp;(${vo.thirdNo!})
					@}
				@}
				&nbsp;&nbsp;&nbsp;&nbsp;<span class="wxType" style="color: #336199;"></span> 
			@}
			<!-- &nbsp;&nbsp;&nbsp;&nbsp;
			-->
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">订单状态</div>
		<div class="profile-info-value">
			@if(vo.status==0){
			未支付
			@}else if(vo.status==1){
			已支付
			@}else if(vo.status==2){
			已发货
			@}else if(vo.status==3){
			申请退货
			@}else if(vo.status==4){
			已收货
			@}else if(vo.status==5){
			申请退款
			@}else if(vo.status==11){
			已退货
			@}else if(vo.status==12){
			已退款
			@}else if(vo.status==-1){
			已取消
			@}else if(vo.status==13){
			商家同意退货
			@}else if(vo.status==14){
			商家拒绝退货
			@}else if(vo.status==15){
			商家同意退款
			@}else if(vo.status==16){
			商家拒绝退款
			@}else {
			@}
			
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			@if(vo.closeFlg=='2'){
			<a href="http://wdwmananger.wd-w.com/saleBill/getSaleBillDetail?id=${vo.saleBillId!}" target="_blank">
				已出账 查看
			</a>
			@}	
			
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">付款时间</div>
		<div class="profile-info-value">
			${vo.payTime!,dateFormat="yyyy-MM-dd HH:mm:ss"}
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">发货时间</div>
		<div class="profile-info-value">
			${vo.sendTime!,dateFormat="yyyy-MM-dd HH:mm:ss"}
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">确认收货时间</div>
		<div class="profile-info-value">
			${vo.takeTime!,dateFormat="yyyy-MM-dd HH:mm:ss"}
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">商家（招商）</div>
		<div class="profile-info-value">
			${vo.supplierName!} (${vo.managerName!})
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">到款确认</div>
		<div class="profile-info-value">
			@if(vo.payConfirm==0){
			未到款
			@}else if(vo.payConfirm==1){
			已到款
			@}else {
			@}
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">到款确认时间</div>
		<div class="profile-info-value">
			${vo.payConfirmDate!,dateFormat="yyyy-MM-dd HH:mm:ss"}
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">取消时间</div>
		<div class="profile-info-value">
			${vo.cancelTime!,dateFormat="yyyy-MM-dd HH:mm:ss"}
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">取消原因</div>
		<div class="profile-info-value">
			${vo.closeReason!}
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">退款原因</div>
		<div class="profile-info-value">
			${returnSeason!}
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">拒绝退款原因</div>
		<div class="profile-info-value">
			${vo.refuseNote!}
		</div>
	</div>
</div>
	<ul class="nav nav-tabs" id="${vo.subOrderId!}">
		<li class="active">
			<a data-toggle="tab" href="#user" onclick="tabChange(this)"> 
				<i class="green ace-icon fa fa-users bigger-120"></i> 买家信息
			</a>
		</li>
		<li>
			<a data-toggle="tab" href="#order" onclick="tabChange(this)"> 
				<i class="green ace-icon fa fa-users bigger-120"></i> 收货信息
			</a>
		</li>
		<li>
			<a data-toggle="tab" href="#items" onclick="tabChange(this)"> 
				<i class="green ace-icon fa fa-users bigger-120"></i> 商品信息
			</a>
		</li>
		<li>
			<a data-toggle="tab" href="#exprtessTab" onclick="tabChange(this)"> 
				<i class="green ace-icon fa fa-users bigger-120"></i> 物流信息
			</a>
		</li>
		<li>
			<a data-toggle="tab" href="#invoiceTab" onclick="tabChange(this)"> 
				<i class="green ace-icon fa fa-users bigger-120"></i> 发票信息
			</a>
		</li>
		<li>
			<a data-toggle="tab" href="#payinfoTab" onclick="tabChange(this)"> 
				<i class="green ace-icon fa fa-users bigger-120"></i> 支付信息
			</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="profile-user-info profile-user-info-striped tab-pane active" id="user">
			<div class="profile-info-row">
				<div class="profile-info-name">买家id</div>
				<div class="profile-info-value">
					${order.userId!}
				</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name">公司名称</div>
				<div class="profile-info-value">
					${enterPriseName!}
				</div>
			</div>
			@for(item in roles){
				@if(item.id == 25) {
			<div class="profile-info-row">
				<div class="profile-info-name">现金券流水</div>
				<div class="profile-info-value" id="flowTable">
					<a href="javascript:void(0);" onclick="javascript:showCashFlow('${order.userId!}');">
						 查看
					</a>
				</div>
			</div>
				@}
			@}
		</div>
		<div class="profile-user-info profile-user-info-striped tab-pane" id="order">
			<div class="profile-info-row">
				<div class="profile-info-name">收件人</div>
				<div class="profile-info-value">
					${order.name!}
				</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name">电话</div>
				<div class="profile-info-value">
					${order.mobile!}
				</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name">收货地址</div>
				<div class="profile-info-value">
					${order.address!}
				</div>
			</div>
		</div>
		
		<div class="profile-user-info profile-user-info-striped tab-pane" id="items">
			<table class="table table-striped table-bordered table-hover nomargin-bottom">
				<thead>
					<tr>
						<th class="center">商品名称</th>
						<th class="center">特省</th>
						<th class="center">规格</th>
						<th class="center">购买数量</th>
						<th class="center">单价</th>
						<th class="center">运费</th>
						<th class="center">佣金比例</th>
					</tr>
				</thead>
				@for(subItem in items){
				<tbody>
					<tr>
						<td class="center">
							<a href="${webUrl}${subItem.productId!}.html" target="_blank">
								<p>${subItem.productName!}</p>
								<img src="${subItem.image!}" style="width: 90px">
							</a>	
						</td>
						<td class="center">
							@if(subItem.saleKbn == 2){
								换领
							@} else if(subItem.saleKbn == 1){
								特省
							@} else if(subItem.saleKbn == 5){
								试用
							@}
						</td>
						<td class="center">
							${subItem.itemValues!}
						</td>
						<td class="center">
							${subItem.number!}
						</td>
						<td class="center">
							￥${subItem.internalPurchasePrice!}
						</td>
						<td class="center">
							${subItem.shipping!}
						</td>
						<td class="center">
							${subItem.commissionRatio!}%
						</td>
					</tr>
				@}
				</tbody>
			</table>
		</div>
		
		
		<div class="profile-user-info profile-user-info-striped tab-pane" id="exprtessTab">
			<div class="profile-info-row">
				<div class="profile-info-name" style="width: 150px">快递公司:</div>
				<div class="profile-info-value">${expressName!}</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name" style="width: 150px">运单号(卡券密码):</div>
				<div class="profile-info-value">${expressNo!}</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name" style="width: 150px">物流信息:</div>
				<div class="profile-info-value" id="express">
				</div>
			</div>
		</div>
		<div class="profile-user-info profile-user-info-striped tab-pane" id="invoiceTab">
			<div class="profile-info-row">
				<div class="profile-info-name" style="width: 150px">发票状态</div>
				<div class="profile-info-value">
				@if(vo.invoiceStatus == 0){
						用户未申请
				@} else if(vo.invoiceStatus == 1){
						用户申请中
				@} else if(vo.invoiceStatus == 2){
						发票已开
				@}
				</div>
			</div>
			@if(vo.invoiceStatus == 2){
			<div class="profile-info-row">
			<div class="profile-info-name"  style="width: 150px;text-align: center;">商家录入发票信息:</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name" style="width: 150px">抬头:</div>
				<div class="profile-info-value">${issuedInvoice.title!}</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name" style="width: 150px">发票号:</div>
				<div class="profile-info-value">${issuedInvoice.invoice!}</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name" style="width: 150px">销售方:</div>
				<div class="profile-info-value">${issuedInvoice.seller!}
				</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name" style="width: 150px">价税合计:</div>
				<div class="profile-info-value">${issuedInvoice.price!}
				</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name" style="width: 150px">发票类型:</div>
				<div class="profile-info-value">
					@if(issuedInvoice.type == 0){
						电子增值税普通发票
					@} else if(issuedInvoice.type == 1){
						电子增值税专用发票
					@} else if(issuedInvoice.type == 2){
						纸质发票
					@}
				</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name" style="width: 150px">发票链接:</div>
				<div class="profile-info-value">
					@if(issuedInvoice.electronicInvoice!=null && issuedInvoice.electronicInvoice!=""){
					<a class="purple" href="${issuedInvoice.electronicInvoice!}" target="_blank">
						${issuedInvoice.electronicInvoice!}
					</a>
					@} else if(issuedInvoice.paperInvoice!=null && issuedInvoice.paperInvoice!=""){
					<a class="purple" href="${issuedInvoice.paperInvoice!}" target="_blank">
						${issuedInvoice.paperInvoice!}
					</a>
					@}
				</div>
			</div>
			 @}
			@if(vo.invoiceStatus == 2 || vo.invoiceStatus == 1){
			<div class="profile-info-row">
			<div class="profile-info-name"  style="width: 150px;text-align: center;">买家申请发票信息:</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name" style="width: 150px">抬头:</div>
				<div class="profile-info-value">${invoiceApply.title!}</div>
			</div>
			@if(invoiceApply.billType != '' && invoiceApply.billType != null){
			<div class="profile-info-row">
				<div class="profile-info-name" style="width: 150px">发票类型:</div>
				<div class="profile-info-value">${invoiceApply.billType! == 1?"专用发票":"普通发票"}</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name" style="width: 150px">纳税人识别号:</div>
				<div class="profile-info-value">${invoiceApply.taxpayerNumber!}</div>
			</div>
			@if(invoiceApply.billType == 1){
			<div class="profile-info-row">
				<div class="profile-info-name" style="width: 150px">注册地址:</div>
				<div class="profile-info-value">${invoiceApply.registerAddress!}</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name" style="width: 150px">注册电话:</div>
				<div class="profile-info-value">${invoiceApply.registerPhone!}</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name" style="width: 150px">开户行:</div>
				<div class="profile-info-value">${invoiceApply.openingBan!}</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name" style="width: 150px">开户行账号:</div>
				<div class="profile-info-value">${invoiceApply.openingBanNumber!}</div>
			</div>
			@}
			@}
			<div class="profile-info-row">
				<div class="profile-info-name" style="width: 150px">收票地址:</div>
				<div class="profile-info-value">${invoiceApply.address!}
				</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name" style="width: 150px">备注</div>
				<div class="profile-info-value">${invoiceApply.note!}
				</div>
			</div>
			@}
		</div>
		<div class="profile-user-info profile-user-info-striped tab-pane" id="payinfoTab">
		<table class="table table-striped table-bordered table-hover nomargin-bottom">
				<thead>
					<tr>
						<th class="center">现金券抵扣</th>
						<th class="center">支付金额</th>
						<th class="center">支付方式</th>
						<th class="center">支付流水</th>
						<th class="center">关键字</th>
						<th class="center">到款状态</th>
					</tr>
				</thead>
				@if(vo.orderType=="1"||vo.orderType=="4"){
					@for(gs in gsdataList){
						@if(gs.status != 0){
							<tbody>
								<tr>
									<td class="center">
										${gs.cashPay!}
									</td>
									<td class="center">
										${gs.thirdPay!}
									</td>
									<td class="center">
										@if(gs.thirdType=='zhifubao'){
										支付宝
										@}else if(gs.thirdType=='pingtaiyue'){
										现金券
										@}else if(gs.thirdType=='unionpay'){
										银联
										@}else{
											${gs.thirdType}
										@}
									</td>
									<td class="center">
										${gs.thirdNo!}
									</td>
									<td class="center">
										${gs.subOrderId!}
									</td>
									<td class="center">
										@if(gs.payConfirm==0){
										未到款
										@}else{
										已到款
										@}
									</td>
								</tr>
							</tbody>
						@}
					@}
				@}else if(vo.orderType=="5"){
					@for(ex in exdataList){
					<tbody>
						<tr>
							<td class="center">
								${ex.cashPay!}
							</td>
							<td class="center">
								${ex.thirdPay!}
							</td>
							<td class="center">
								@if(ex.thirdType=='zhifubao'){
								支付宝
								@}else if(ex.thirdType=='pingtaiyue'){
								现金券
								@}else if(ex.thirdType=='unionpay'){
								银联
								@}else{
									${ex.thirdType}
								@}
							</td>
							<td class="center">
								${ex.thirdNo!}
							</td>
							<td class="center">
								${ex.subOrderId!}
							</td>
							<td class="center">
									@if(ex.payConfirm==1){
										已到款
									@}else{
										未到款
									@}
							</td>
						</tr>
					</tbody>
					@}
				@}else {
					<tbody>
						<tr>
							<td class="center">
								${vo.cashPay!}
							</td>
							<td class="center">
								${vo.thirdPay!}
							</td>
							<td class="center">
								@if(vo.thirdPay>0){
									@if(vo.thirdType=='zhifubao'){
									支付宝&nbsp;
									@}else if(vo.thirdType=='pingtaiyue'){
									现金券&nbsp;
									@}else if(vo.thirdType=='unionpay'){
									银联&nbsp;
									@}
								@}
								&nbsp;&nbsp;&nbsp;&nbsp;<span class="wxType" style="color: #336199;"></span>
							</td>
							<td class="center">
								${vo.thirdNo!}
							</td>
							<td class="center">
								${vo.subOrderId!}
							</td>
							<td class="center">
								@if(vo.payConfirm==0){
								未到款
								@}else{
								已到款
								@}
							</td>
						</tr>
					</tbody>
				@}
			</table>
		</div>
	</div>
	
	
<script type="text/javascript">
$(function(){
	if("${expressCom!}" != "" && "${expressNo!}"!="") {
		showExpress();
	}
	if("${vo.thirdType!}" == "wxpay" && "${vo.thirdNo!}"!="") {
		getWxAppId("${vo.thirdNo!}");
	}
});

function tabChange(obj) {
	$(".nav-tabs li").removeClass("active");
	$($(obj).parent()).addClass("active");

	$(".tab-content div").removeClass("active");
	$($(obj).attr("href")).addClass("active");
}

function showCashFlow(userId) {
	$.ajax({
		dataType:'json',
		type:'POST',
		url:'${ctxPath}/orderList/getCashFlow?userId='+userId,
		contentType: 'application/json',
		async: true,
		success:function(data){
			var html='';
			html += '<table class="table table-striped table-bordered table-hover nomargin-bottom">';
			html += '<tr><th>时间</th><th>操作</th><th>金额</th><th>余额</th><th>备注</th></tr>';
			for(var i=0;i<data.length;i++) {
				html += '<tr>';
				html += '<td>'+ formatDate(data[i].opDate) +'</td>';
				html += '<td>'+ getOpname(data[i].opCode) +'</td>';
				html += '<td class="center">'+ data[i].cash +'</td>';
				html += '<td class="center">'+ data[i].cashBalance +'</td>';
				html += '<td>'+ data[i].note +'</td>';
				html += '</tr>';
			}
			html += '</table>';
			
			$("#flowTable").html(html);
		}
	});
}

function getWxAppId(tradeNo) {
	$.ajax({
		dataType:'json',
		type:'POST',
		url:'${ctxPath}/orderList/payAppId?tradeNo='+tradeNo,
		contentType: 'application/json',
		async: true,
		success:function(ret){
			if(ret.data == "wx1b153767a3760be4") {
				$(".wxType").html("微信APP");
			} else if (ret.data == "wxb62e121cbeffdddf"){
				$(".wxType").html("微信公众号");
			}
		}
	});
}
function   formatDate(num)   {
	var now =new Date(num)
    var   year=now.getFullYear();     
    var   month=now.getMonth()+1;     
    var   date=now.getDate();     
    var   hour=now.getHours();     
    var   minute=now.getMinutes();     
    var   second=now.getSeconds();     
    return   year+"-"+(month<10?"0":"")+ month+"-"+(date<10?"0":"")+date+"   "+hour+":"+minute+":"+second;     
}



function   getOpname(code)   {
	var name = "订单支付";
    if("216"==code) {
    	name="企业发放福利";
    } else if("217"==code) {
    	name="企业回收福利";
    } else if("203"==code) {
    	name="电商消费";
    } else if("202"==code) {
    	name="电商退款";
    } else if("205"==code) {
    	name="馈赠亲友";
    } else if("204"==code) {
    	name="收回馈赠";
    } else if("206"==code) {
    	name="获得馈赠";
    } else if("207"==code) {
    	name="返还馈赠";
    } else if("290"==code) {
    	name="平台派发";
    } else if("292"==code) {
    	name="app首次登陆奖励";
    } else if("294"==code) {
    	name="热卖销售奖励";
    } else if("296"==code) {
    	name="评论奖励";
    } else if("222"==code) {
    	name="红包退回";
    } else if("220"==code) {
    	name="收到红包";
    } else if("221"==code) {
    	name="发送红包";
    }
    return name;     
}     
    
function showExpress() {
    var content = '"sname":"express.ExpressSearch","com":"${expressCom!}","express_no":"${expressNo!}","version":"v2"';
    $.ajax({
        url: 'http://kuaidi.wo-de.com/express/busJsonp.do?content={' + content + '}&token=',
        dataType: 'jsonp',
        jsonp: 'jsonpcallback',
        success: function (json) {
        	try{
            var ary = eval(json.body.history);
            var lis = "";
            if (ary.length > 0) {
                lis = '<p class="cur">' + ary[0].dealDate + '<span>&nbsp;&nbsp;' + ary[0].des + '</span></p>';
                for (var i = 1; i < ary.length; i++) {
                    lis += '<p>' + ary[i].dealDate + '<span>&nbsp;&nbsp;' + ary[i].des + '</span></p>';
                }
            }
            $("#express").html(lis);
        	} catch(e) {}
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
        }
    });
}
</script>
</div>
	</body>
</html>