<table class="table table-striped table-bordered table-hover nomargin-bottom">
	<thead>
		<tr>
			<th class="center">ID</th>
			<th class="center">发票号码</th>
			<th class="center">付款单位</th>
			<th class="center">财务代码</th>
			<th class="center">金额合计</th>
			<th class="center">开票日期</th>
			<th class="center">状态</th>
			<th class="center">邮寄日期</th>
			<th class="center">邮寄信息</th>
			<th class="center">退回日期</th>
			<th class="center">退回邮寄信息</th>
			<th class="center">退回说明</th>
			<th class="center">拒绝退回理由</th>
			<th class="center">对账单id</th>
			<th class="center">操作</th>
		</tr>
	</thead>

	<tbody>
		@for(item in page.list){
			<tr>
				<td class="center">
					<input type="hidden" value="${item.id}">
					${item.id!}
				</td>
				<td class="center">
					${item.code! }
				</td>
				<td class="center">
					${item.title! }<br />
					<a href="javascript:;" 
						data-title="发票申请信息" data-mode="detail"
						data-url="${ctxPath}/saleBill/toDuration"
						data-data="{supplierId:'${item.supplierId}',supplierName:'${item.title}'}" >发票申请信息</a>
				</td>
				<td class="center">
					${item.financeCode! }
				</td>
				<td class="center">
					${item.amount!}
				</td>
				<td class="center" title="">
					${item.createDate!,dateFormat="yyyy-MM-dd" }
				</td>
				<td class="center">
					@if(item.status == '2'){
						已开出
					@}
					@if(item.status == '3'){
						已寄出
					@}
					@if(item.status == '4'){
						申请退回
					@}
					@if(item.status == '5'){
						拒绝退回
					@}
					@if(item.status == '6'){
						同意退回
					@}
					@if(item.status == '7'){
						退回已寄出
					@}
					@if(item.status == '8'){
						已作废
					@}
				</td>
				<td class="center">
					${item.sendDate!,dateFormat="yyyy-MM-dd" }
				</td>
				<td class="center">
					@if(item.status == '3'||item.status == '4'||item.status == '5'||item.status == '6'||item.status == '7'||item.status == '8'){
					<a href="javascript:;" 
						data-title="邮寄信息" data-mode="detail"
						data-url="${ctxPath}/saleBill/toExpress"
						data-width="70%"
						data-height="70%"
						data-data="{expressType:'${item.sendExpressType}',expressNo:'${item.sendExpressNo}'}" >邮寄信息</a>
					@}
					&nbsp;
				</td>
				<td class="center">
					${item.returnDate!,dateFormat="yyyy-MM-dd" }
				</td>
				<td class="center"  onclick="showExpressInfo('${item.returnExpressType!}','${item.returnExpressNo!}')"> 					
					@if(item.status == '7'||item.status == '8'){
					<a href="javascript:;" 
						data-title="退回邮寄信息" data-mode="detail"
						data-url="${ctxPath}/saleBill/toExpress"
						data-width="70%"
						data-height="70%"
						data-data="{expressType:'${item.returnExpressType}',expressNo:'${item.returnExpressNo}'}" >退回邮寄信息</a>
					@}
					&nbsp;
				</td>
				<td class="center">
					${item.returnNote!}
				</td>
				<td class="center">
					${item.rejectNote!}
				</td>
				<td class="center" style="word-break:break-all;width:250px">
					${item.saleBillIds!}
				</td>
				<td class="center">
					@if(item.status == '4'){
					<a href="javascript:;" 
						data-title="发票退回确认" data-mode="detail"
						data-url="${ctxPath}/saleBill/toComfirmReturn?rst=6"
						data-data="{id:'${item.id}'}" >同意</a>
					<a href="javascript:;" 
						data-title="发票退回确认" data-mode="detail"
						data-url="${ctxPath}/saleBill/toComfirmReturn?rst=5"
						data-data="{id:'${item.id}'}" >拒绝</a>
					@}
					@if(item.status == '2'){
					<a href="javascript:;" 
						data-title="邮寄发票" data-mode="detail"
						data-url="${ctxPath}/saleBill/toReceiptSend"
						data-data="{id:'${item.id}'}" >邮寄</a>
					@}
					@if(item.status == '7'){
					<a href="javascript:;" 
						data-title="作废发票" data-mode="detail"
						data-url="${ctxPath}/saleBill/toCancelReceipt"
						data-data="{id:'${item.id}'}" >作废发票</a>
					@}
						
				</td>
			</tr>
		@}
	</tbody>
</table>
<div class="space-8"></div>
<script type="text/javascript">

</script>
<#paginate page="${page}" />

