<div class="layer">
<div class="profile-user-info profile-user-info-striped wordbreak" >
	<input value="${saleBill.id}" type="hidden" id="paymentBox_id">
	<div class="profile-info-row">
		<div class="profile-info-name">财务代码</div>
		<div class="profile-info-value">${sd.financeCode}</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">商户名称</div>
		<div class="profile-info-value">${saleBill.name}</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">结算内容</div>
		<div class="profile-info-value">
		@if(saleBill.closeType == 1) {
			佣金
		@} else if(saleBill.closeType == 2) {
			运费
		@} else if(saleBill.closeType == 3) {
			运费、佣金 
		@} else if(saleBill.closeType == 4) {
			货款 
		@} else if(saleBill.closeType == 5) {
			货款、佣金
		@} else if(saleBill.closeType == 6) {
			货款、运费 
		@} else if(saleBill.closeType == 7) {
			货款、运费、佣金 
		@}
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">备注</div>
		<div class="profile-info-value">${saleBill.closeNote}</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">应付款</div>
		<div class="profile-info-value">${saleBill.payPrice}</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">结算方式</div>
		<div class="profile-info-value">
		@if(saleBill.payType == 1) {
			结算到商家现金账户
		@} else if(saleBill.payType == 2) {
			其他方式
		@}
		</div>
	</div>
	@if(saleBill.payType == 2){
	<div class="profile-info-row">
		<div class="profile-info-name">收款方</div>
		<div class="profile-info-value">${saleBill.payNote}</div>
	</div>
	@} 
</div>
	 <div class="red">
		注意，结算到商家现金账户时，无需线下付款,其他方式时需要线下支付
		此操作不可逆，确定吗？
	</div>
	<div class="width-100 clearfix" tag-save-btn style="bottom: 0px;left: 0px;position:absolute;">
	<span class="btn btn-primary btn-sm bigger-110 width-100  pull-left" id="submit">
		<i class="ace-icon fa fa-floppy-o align-top bigger-125"></i>确定
	</span>
	</div>
<script type="text/javascript">
$(function(){
	
	$("#submit").click(function(){
		//获取id值
	var id = $("#paymentBox_id").val();
	if(id==""){
		layer.msg('系统错误', 3, 1);
	}else{
		$.ajax({
			dataType:'json',
			type:'POST',
			url:'${ctxPath}/saleBill/paySaleBill?id='+id,
			contentType: 'application/json',
			async: true,
			success:function(data){
				if(data.success){
					layer.msg('操作成功', 3, 1,function(){
						location.reload();
						layer.closeAll();
					});
				}else{
					layer.msg('修改失败', 3, 1,function(){
						location.reload();
						layer.closeAll();
					});
				}
			}
		});
	}
		
		
	});
})

</script>
</div>